[2018-05-29 10:20] RKouchoo commented on #523
You can manually install it by doing this:

[code]

[2018-05-29 11:43] deltaxflux commented on #523
Yeah definitely

[2018-05-29 11:43] #522 closed

[2018-05-29 17:37] ajay2112 opened #524 "Fluxion 4.11"
struck in "Enter path to handshake file"
Absolute path:

[2018-05-29 18:10] deltaxflux commented on #524
You need to capture a valid handshake first. Run the handshake snooper attack first.

[2018-05-29 18:10] #524 closed

[2018-05-29 21:42] MPX4132 commented on #522
@kumyoung What happens if it fails? You left out a bunch of details.

[2018-05-29 22:38] #523 closed

[2018-05-29 23:03] MPX4132 commented on #523
Yeah, it had more bugs than what was being shown here. Some were being hidden by a bug with bash itself.

[2018-05-30 07:29] C0D3K1LL3R commented on #520
I mean when I'm performing the captive portal,The client ob target not connect.
Why I know?I perform the attacks in my own wifi

[2018-05-30 07:32] C0D3K1LL3R commented on #520
This is in my Laptop
![issue](https://user-images.githubusercontent.com/37650125/40705755-5621d3e8-641e-11e8-8aec-bcf9a976088c.png)

This is in my phone

![issue1](https://user-images.githubusercontent.com/37650125/40705782-6c21fda8-641e-11e8-9bd0-8c648b4737f1.jpg)

As you can See, It's only on Connecting and can't connecg=t anymore

[2018-05-30 07:32] C0D3K1LL3R commented on #520
This is in my Laptop
![issue](https://user-images.githubusercontent.com/37650125/40705755-5621d3e8-641e-11e8-8aec-bcf9a976088c.png)

This is in my phone

![issue1](https://user-images.githubusercontent.com/37650125/40705782-6c21fda8-641e-11e8-9bd0-8c648b4737f1.jpg)

As you can See, It's only on Connecting and can't connect anymore

[2018-05-30 07:34] MPX4132 commented on #520
@C0D3K1LL3R What happened to the top left xterm window? Did you close it? That should be the DHCP server, and it should be running.

[2018-05-30 07:36] C0D3K1LL3R commented on #520
This is in my Laptop
![issue](https://user-images.githubusercontent.com/37650125/40705935-d5b7fc54-641e-11e8-8d22-e95b8ef40505.png)

And this on my phone
![issue1](https://user-images.githubusercontent.com/37650125/40705982-fab593ae-641e-11e8-9865-bd73eb94f53c.jpg)

As you can see, It's only connecting and its not bein connected

[2018-05-30 07:38] C0D3K1LL3R commented on #520
Nope....
theres no xterm on that position

[2018-05-30 07:40] C0D3K1LL3R commented on #520
By the Way I'm in Ubuntu OS

[2018-05-30 07:41] strasharo commented on #520
While fluxion is running do a:
`netstat -npl | egrep '67|68'`

[2018-05-30 07:41] MPX4132 commented on #520
You’re missing the DHCP window.

[2018-05-30 07:45] MPX4132 commented on #520
@C0D3K1LL3R Run fluxion in debug mode:
[code]
I think the DHCP server is crashing and the xterm window is closing before you get a chance to read it.

[2018-05-30 07:47] C0D3K1LL3R commented on #520
How can I fix it?

[2018-05-30 07:50] MPX4132 commented on #520
@C0D3K1LL3R Did the DHCP server crash? If it did, what did it crash with? What does it say when it crashes.

[2018-05-30 08:00] C0D3K1LL3R commented on #520
Look at this

![kazam_screenshot_00008](https://user-images.githubusercontent.com/37650125/40707179-7fb3629a-6422-11e8-92c8-8966932bc2e7.png)

[2018-05-30 17:26] MPX4132 commented on #520
@C0D3K1LL3R If you haven't already, restart your computer and run fluxion regularly (no debug flag):
[code]
Once it's running and the DHCP service window is missing, run the following and paste the output in a reply:
[code]

[2018-05-30 22:38] celik869013 opened #525 "captive portal"
### Bug Report

#### Summary

##### What is the current behaviour?

#### How to reproduce

##### If the current behaviour is a bug, please provide the steps to reproduce it.

##### What do you think the expected behaviour should be?

##### If this is a feature request, what is the motivation or use case for the added feature?

##### Specs
*Paste the output of `./script/diagnostics.sh [interface]`*

[2018-05-30 22:42] MPX4132 commented on #525
@celik869013 What options did you launch the attack with? Can you show me screenshots of that? Specifically, I want to know what you selected for target tracking.

[2018-05-30 22:52] celik869013 commented on #525
![ekran alintisi](https://user-images.githubusercontent.com/35223115/40751769-4eec912e-6475-11e8-8a2c-4bf96cb278b3.PNG)

[2018-05-30 22:54] MPX4132 commented on #525
@celik869013 You showed me the image you had already posted. I said:

So please tell me what you selected there.

[2018-05-30 22:58] celik869013 commented on #525
çok özür dilerim tam anlayamadım. hedef android - pc ?

[2018-05-30 23:10] ChunshengZhao commented on #496
https://github.com/aircrack-ng/aircrack-ng/pull/1840

[2018-05-30 23:19] MPX4132 commented on #525
@celik869013 I'm sorry, I didn't realize you were having trouble with the language. Please tell me what network interface you're selecting when the script asks you to select a network interface for "target tracking." If you don't have two wireless devices, you have to select "skip" when prompted for it.

Translated by Google:
Üzgünüm, dil konusunda sorun yaşadığının farkında değildim. Lütfen komut

[2018-05-30 23:54] MPX4132 commented on #496
@ChunshengZhao Have you tried fluxion with the latest version of aircrack-ng? I haven't checked whether it works or not, since I haven't tried building it and checking. Looks like the issue was resolved, so that should finally fix the non-ascii overrun bug.

[2018-05-31 02:13] ChunshengZhao commented on #496
It seems normal.
![20180531100449](https://user-images.githubusercontent.com/9263377/40757395-db722920-64ba-11e8-9e7a-ed2bbf5d9874.jpg)
![20180531100527](https://user-images.githubusercontent.com/9263377/40757394-db195d0e-64ba-11e8-8cd2-48d71a28ebe2.jpg)

[2018-05-31 03:51] monday88 commented on #519
@MPX4132
You go to kali linux official website download VMware kali linux 2018.2, then install fluxion will know.
I not professional check the fluxion problem.
I sure fake AP will not connect, 3v10 no problem every thing good.

[2018-05-31 05:59] MPX4132 commented on #496
Awesome, now people can stop complaining lol, thank you man.

[2018-05-31 06:01] MPX4132 commented on #519
@monday88 Please post screenshots of every option you choose on fluxion?

[2018-05-31 18:55] celik869013 commented on #525
![1](https://user-images.githubusercontent.com/35223115/40802010-18d64672-651d-11e8-9833-83fe32d39781.PNG)
![2](https://user-images.githubusercontent.com/35223115/40802019-1f1f913c-651d-11e8-9554-9ac5dd4161fb.PNG)
![3](https://user-images.githubusercontent.com/35223115/40802023-21dbcd82-651d-11e8-838b-d96e80b8c210.PNG)
![4](https://user-images.githubusercontent.com/35223115/40802031-254fba14-651d-

[2018-05-31 18:57] celik869013 commented on #525
These are the actions I have done.

[2018-05-31 21:40] Fix3dll commented on #159
How can i do it without SSL cert? @deltaxflux

[2018-05-31 22:01] rad4day commented on #159
At this point in time you cant unless you get hold of a CA certificate.
Google, Facebook etc use HSTS with certificate preloading. So most browsers WONT allow the user to access the site via http.

[2018-05-31 23:27] toxxn opened #526 "install issue"
Attempted ./install.sh, it seems it's not installing the packages I am missing.

First time I ran install I received error about revolver already existing.

rm -rf revolver

./install.sh

Dhcpd...........Installing ...
Hostapd.........Installing ...
Lighttpd........Installing ...
Php-cgi.........Installing ...

Cloning into 'revolver'...
remote: Counting objects: 99, done.
remote: Total 99 (delta

[2018-06-01 01:51] Fix3dll commented on #159
When i am trying to enter google, page not loading. Normally i need to see verification page. What should i do? Am beginner and dont know english well but i want to learn this.

[2018-06-02 10:14] deltaxflux commented on #526
Please use the latest version of fluxion.

[2018-06-02 10:15] #526 closed

[2018-06-02 20:14] BRRY876 opened #527 "Fluxion freeze when trying to create rougue ap since update"
After the Handshake Snooper I then moved on to creating the captive portal, I created a ssl certifictate and selected the appropriate vendor and language after that froze the entire termianal and this sign kept blinking " _ ". I closed the terminal and type a random command like apt-get update, apt-get upgrade, apt-get install tor and i got this blinking sign "_" . I have tried on different distro

[2018-06-02 20:17] deltaxflux commented on #527
Well, please fill the issue template. It is very hard to tell what the exact problem is without knowing which specs you have.  I closing now please open a new issue.

[2018-06-02 20:17] #527 closed

[2018-06-03 08:02] MPX4132 commented on #525
@celik869013 Sorry for the delay, I’ve been extremely busy.

Your problem is that you are using the same interface for the rogue AP and for target tracking. That’s impossible, and will fail.

When you get to this step, select “Skip”:

https://user-images.githubusercontent.com/35223115/40802035-27d61e36-651d-11e8-971a-cdc3b9ad4ad5.PNG

[2018-06-03 08:02] #525 closed

[2018-06-03 08:12] MPX4132 commented on #159
@Fix3dll You’ll have to somehow get the user to use an http (unencrypted page). Some devices auto-detect the captive portal and prompt the user to sign in.

[2018-06-03 08:14] MPX4132 commented on #526
@toxxn Do you not have an internet connection? Seems like the installer failed to fetch the packages.

[2018-06-03 08:15] MPX4132 commented on #527
Yeah, I don’t think this is a problem with fluxion. Sounds like a network issue.

[2018-06-03 08:15] deltaxflux commented on #526
@MPX4132 it is the installer for fluxion 3 so outdated.

[2018-06-03 08:16] MPX4132 commented on #526
@deltaxflux Ohhh! I didn’t notice, good catch.

[2018-06-03 09:26] eitanhindi opened #528 "airbase-ng error setting mtu on fluxw10v"
based on my adapter i can not using hostapd so im using airbase-ng for fake AP.
everything is working fine. but no fake AP is created.
i get this error in fake AP window:
"error setting mtu on fluxw10v"

![1](https://user-images.githubusercontent.com/30051406/40885112-b79c52a8-6728-11e8-8dd1-db4e1f7f39a7.png)

##### What is the current behaviour?
hanging...

##### Specs
this is the diagnostics rep

[2018-06-03 10:05] deltaxflux commented on #528
which version of fluxion are you using ?

[2018-06-03 10:09] eitanhindi commented on #528
the latest

[2018-06-03 10:10] eitanhindi commented on #528
i had the same problem at pervious versions

[2018-06-03 20:25] Gh0stInTh3M4ch1n3 opened #529 "Alfa adapter issue"
Can no longer select my Alfa usb, it says chipset not found (so I can pick it, but f luxion just won't work with it), last month it was working fine, and recognized my Alfa. It's the same on 3 Alfa adapters. And when I select wlan0 to do handshake snooper, it works until I get to the deauth part, I select the recommended "every 30 seconds", and get flooded with opening windows and have to close it

[2018-06-03 20:25] Gh0stInTh3M4ch1n3 opened #530 "Alfa adapter issue"
Can no longer select my Alfa usb, it says chipset not found (so I can pick it, but f luxion just won't work with it), last month it was working fine, and recognized my Alfa. It's the same on 3 Alfa adapters. And when I select wlan0 to do handshake snooper, it works until I get to the deauth part, I select the recommended "every 30 seconds", and get flooded with opening windows and have to close it

[2018-06-04 04:48] MPX4132 commented on #528
He’s using airbase-ng, so he’s going to have problems. It’s hit or miss with it.

[2018-06-04 04:52] MPX4132 commented on #529
Post diagnostics.

[2018-06-04 04:55] MPX4132 commented on #530
Please don’t spam.

[2018-06-04 04:55] #530 closed

[2018-06-04 19:53] Gh0stInTh3M4ch1n3 commented on #529
I apologize, I'm slightly behind the learning curve so idk exactly what you need.

I'm using latest version, on Kali ARM (rpi3B+)
The main used adapter (awus036nh) appears and chipset is recognized when issuing "lsusb". I managed to take a pic of the window in its half second on off appearance, but don't know how to add pics here...

It reads:
ARP linktype is set to 1 (ETHERNET) - expected APRHRD_

[2018-06-04 20:09] Gh0stInTh3M4ch1n3 commented on #529
EDIT: wlan0 seems to be working properly so far, no more endless spawning of windows. Idk why, I've done nothing different. So it seems fluxion just isn't finding the chipset to Alfa usb (wlan1)

[2018-06-05 09:29] #528 closed

[2018-06-05 09:30] deltaxflux commented on #529
Install the driver propertly. This is not a problem with fluxion, moreover with your OS.

[2018-06-05 09:30] #529 closed

[2018-06-05 11:25] nesperida911 opened #531 "Using kali subsystem in windows 1803"
### Bug Report

#### Summary

When i try to run fluxion in kali subsystem in windows it always shows "Aborted, X (graphical) session unavailable."

![image](https://user-images.githubusercontent.com/6942408/40973265-32d328ba-68f6-11e8-88c3-75e991293c3a.png)

[2018-06-05 11:29] Gh0stInTh3M4ch1n3 commented on #528
No, I didn't use airbase-ng, I used cowpatty since it's was the most recommended

[2018-06-05 11:32] Gh0stInTh3M4ch1n3 commented on #530
I didn't mean to, was trying to go into as much detail as possible... why'd you close the issue? Flexion still doesn't recognize my Alfa chipsets and won't work with them. Only internal WiFi works.

[2018-06-05 11:35] deltaxflux commented on #531
read carefully the readme

[2018-06-05 11:36] #531 closed

[2018-06-05 11:38] Gh0stInTh3M4ch1n3 commented on #531
Deltaflux, since you're on, could you help with issue #530. It was closed without being solved..

[2018-06-06 21:31] Gh0stInTh3M4ch1n3 commented on #530
Can we reopen ?

[2018-06-06 21:45] MrKali commented on #263
I am currently experiencing the same problem. Is it possible to solve the problem or do I have to buy a new adapter?

[2018-06-07 04:13] MPX4132 commented on #263
@MrKali you’ll probably have to purchase another wireless adapter.

[2018-06-07 04:19] MPX4132 commented on #530
You should try an earlier version of the operating system. It sounds like a change they made broke things for you. We haven’t made any major changes to fluxion.

[2018-06-07 07:21] kavience opened #532 "Is fluxion compatible with macOS?"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

Can I use fluxion on my mac os?
#### Specs

[2018-06-07 07:25] #532 closed, assigned to nobody

[2018-06-07 10:56] nghtho94 opened #533 "Please add portal site to master branch"
Please add portal to master branch

[2018-06-07 15:11] rad4day commented on #533
I dont understand your request as we already point to the newest version of the sites repository. Could you please elaborate?

[2018-06-07 19:43] deltaxflux commented on #533
Yeah there is no point doing this.

[2018-06-07 19:43] #533 closed

[2018-06-08 10:05] pitoballz opened #534 "FluxionNetwork/fluxion"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-06-08 10:08] pitoballz commented on #534
terminate called after throwing an instance of 'std::runtime_error'
  what():  locale::facet::_S_create_c_locale name not valid
Aborted

Dependency installation failed!
Press enter to retry, ctrl+c to exit...

thats after i try to install fluxion

[2018-06-08 11:40] Gh0stInTh3M4ch1n3 commented on #529
(Just realized you said not to spam because the issue posted twice... apologies, phone glitch.)

My OS is Kali, and it has the drivers preinstalled properly. I plugged the adapter in during boot, now it (fluxion)
recognizes the Alfa driver, but not the native pi interface...
I've updated and upgraded Kali with same results. Running fluxion 4.12.

[2018-06-08 11:44] strasharo commented on #529
The built-in wireless adapter on the Raspberry requires special drivers to be able to monitor and inject, default ones are not sufficient.

[2018-06-08 11:47] Gh0stInTh3M4ch1n3 commented on #529
Yes @strasharo, and kali linux comes preinstalled with those special Nexmon drivers. Injection works. Have used it hundreds of times.

[2018-06-08 11:51] Gh0stInTh3M4ch1n3 commented on #529
I will reflash image and try again tomorrow. I've always found the diagnostics @MPX4132 mentioned. Everything looked fine. Will re-check that as well.

[2018-06-08 20:41] deltaxflux commented on #534
Try manually to install dependencies and share results.

[2018-06-09 09:36] Gh0stInTh3M4ch1n3 commented on #529
Where is the wiki?

[2018-06-09 12:34] wasp478 opened #535 "Target tracker failed to unprep attack"
Hello there.
I think script need to update for real.
When I try with airgeddon, it is working cool.
But with fluxion... Handshake never succesfull. Even I put handshake capture file for evil portal I got this issue everytime : Target tracker failed to unprep attack.

I am on Kali Linux 2018

[2018-06-10 12:53] liklev opened #536 "sslstrip2"
### Bug Report

#### Summary

captive portal present ssl/dns brings up warning in target's browser (chrome) that the page i'm visiting is not safe/secure. (caption when redirected from https sites)
LeonardoNve made up some sslstrip+ (or v.2) together with dns2server to force some downgrade which bypassing somehow browser warning.
i know it may not consider as bug rather new feature. it somewhere i

[2018-06-11 00:04] MPX4132 commented on #529
https://github.com/FluxionNetwork/fluxion/wiki/Starting-access-point-hangs!

[2018-06-11 00:05] MPX4132 commented on #535
Don’t use target tracking if you don’t have two individual devices.

[2018-06-11 13:44] rad4day commented on #529
@MPX4132 did you really just point him at a non-existent page? :rofl:

@Gh0stInTh3M4ch1n3 https://github.com/FluxionNetwork/fluxion/wiki

[2018-06-11 16:35] deltaxflux commented on #529
No the link is working. Or try it [here](https://github.com/FluxionNetwork/fluxion/wiki/Starting-access-point-hangs!)

[2018-06-11 16:36] #535 closed

[2018-06-11 16:36] deltaxflux commented on #536
Would be great.

[2018-06-13 03:46] seventhplug opened #537 "Captive Portal Selected Language to list."
### Feature Request
Is it possible that the Captive Portal Sites will only show selected Language not the whole list? Thanks

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes/no
| BC Break    | yes/no

#### Summary
Captive Portal Sites show only the language selected or the ability select which language should the list shows. Thanks

[2018-06-13 12:44] kaliramta opened #538 "Fluxion 4 rev.12- doesn't run"
I am try to run latest fluxion 4 rev.12 and it seems unable to load. While all the dependencies displayed OK status.
![fluxion4 12-error](https://user-images.githubusercontent.com/40236471/41351845-278b829c-6f07-11e8-8615-28bef877ca2e.png)

Errors are below:
(1).
./fluxion.sh: line 533: declare: -A: invalid option
declare: usage: declare [-afFirtx] [-p] [name[=value] ...]
./fluxion.sh: line 741: d

[2018-06-13 23:28] he2lec opened #539 "AP crash when client connect"
Hi,

I tried to setup a simple AP with fluxion 4. Aside the fact that 90% of the connections failed, when one happened, fluxion stopped the AP, and exit. The only error that i could noticed was in the information terminal:

 `cat: /tmp/fluxspace/clients.txt: No such file or directory`

Since fluxion 4, i didn't succeed to connect any client to my ap.

Sincerely.

[2018-06-13 23:40] 9acca9 opened #540 "Cant see any wlan... (bug?)"
Hi to all.
Can somebody give me a hand whit this? i can see any wireless network.
Fluxion start and put the wifi in monitor mode (supposedly).

02:00.0 Network controller: Intel Corporation Wireless 7265 (rev 59)
	Subsystem: Intel Corporation Dual Band Wireless-AC 7265
	Kernel driver in use: iwlwifi
	Kernel modules: iwlwifi

Thanks to all.

And, by the way, the monitor modo it's ok with other vers

[2018-06-13 23:53] Gh0stInTh3M4ch1n3 commented on #529
I realized after asking, that if I view in "desktop mode", i see it as a tab, along with alot of other stuff. I Read up on it. Everything works with the alfa, just not wlan0 (seems to be a nexmon driver issue, as someone suggested). Wlan0 is not important and irrelevant to this issue though. Everything works fine on my Alfa now. Was gonna ask why the custom portals were gone, but found the list li

[2018-06-14 05:38] voltaire1694 commented on #539
I am having the same issue.  At random intervals the Captive Portal attack will cease unexpectedly. All xterm windows will close, except for the FLUXION AP Autheticator window. The twin AP will cease broadcasting. In the FLUXION AP window there will appear the line "cat:/tmp/fluxspace/clients.txt: No such file or directory". As I said this is appears to be a bit random, but occurs on about 50% of

[2018-06-14 07:44] deltaxflux commented on #540
Hey,
Thank you for creating this issue but first I need some information. Can you elaborate that the old version is working **now**? Please post the output of the diagnostic script.

[2018-06-14 07:47] deltaxflux commented on #539
@voltaire1694 @he2lec
Hey,
Thank you for creating this issue(s). I need some more information to look in detail.

@he2lec
Can you ekaborate that it was working in other fluxion versions? Can you please submit the output of the diagnostic script? Do you update your drivers?

@voltaire1694
Looks like it is the same issue. Please post the output of diagnostic script. I will look in detail.

Regards,

[2018-06-14 07:50] deltaxflux commented on #529
Well, before creating a new issue. Here are some steps:

The portal using a other repository. I included them as submodule. You could try:
[code]

[2018-06-14 16:51] he2lec commented on #539
In other fluxion versions, the clients could connect to the AP without troubles.
Here is the output of the diagnostic script:

[code]

[2018-06-14 17:21] he2lec commented on #539
I went back to v4.10 and it doesn't seems to crash.

However i couldn't get a fake page to show, and 90% of the time the client cannot connect ("Unable to join", mac and iphone tested), the hostapd service telling:

`IEEE 801.11: did not acknowledge authentication response`

[2018-06-15 05:33] voltaire1694 commented on #539
Man, I hate to be such a noob: It's clear that I move to the scripts folder and run ./diagnostics.sh [wlan interface]. I'm using _two_ radios for the attack, both Ralink 2870/3070.  _When_ do I run the diagnostic script?  During the attack? After the attack? Before the attack?  Sorry for the dumb questions.

[2018-06-15 06:24] ahmad929 opened #541 "Devices not connecting to the evil twin.."
The devices are not connecting to the evil twin. I looked at the mac addresses of both the target and the cloned one. They both were different. I think so that is why the devices doesn't connect to the cloned ap after being deauthenticated.

[2018-06-15 07:19] Gh0stInTh3M4ch1n3 commented on #541
Experiencing the same. Tested on 2 phones, tablet, pi3, win10 (which shows the ap name and then a "2" after, making it less believable). The connection is too slow to connect, even on own router. Takes about 15mins at least to bring up the captive portal, continously kicks the connection and tries to reconnect. This is the issue I was going to raise. I eventually had to go to the captive portal ma

[2018-06-15 07:28] Gh0stInTh3M4ch1n3 commented on #466
Yes please. Would save a lot of time

[2018-06-15 09:20] MPX4132 commented on #538
Run the diagnostics script.

[2018-06-15 09:25] MPX4132 commented on #539
@voltaire1694 Run it independently, don’t run the attack while running diagnostics.
Run it once for each device.

[2018-06-15 09:31] MPX4132 commented on #539
@he2lec when running fluxion 4, are you selecting a target tracking interface? If you are, you better not be selecting the same interface as the one for the `Captive Portal` attack. It’s getting real irritating people don’t read or neglect the fact they don’t understand. I’m not saying that’s the case with you, I’m saying there’s a possibility.

[2018-06-15 09:32] MPX4132 commented on #541
Read the wiki next time y’all.

[2018-06-15 09:32] #541 closed

[2018-06-15 09:37] MPX4132 commented on #541
The MAC address must be different, otherwise the jammer would jam the rogue AP.

Windows, being the odd ball like always, decides to add “... (2)” when it finds a duplicate AP. It’s just Windows being stupid as usual. You can verify with another device the SSID is the same as the original.

The connection is taking too long? Your device could have driver issues, but if it’s worked before chances a

[2018-06-15 09:44] #534 closed

[2018-06-15 09:46] MPX4132 commented on #540
@9acca9 restart your computer, the driver crashed. Happens to me all the time.

[2018-06-15 20:27] Genetick commented on #536
https://github.com/droe/sslsplit

[2018-06-15 21:43] tdw546 opened #542 "AP changes channel"
|    Q        |   A
|------------ | -----
| Version     | 4.12 (most recent version pulled from github)

#### Support Question
When using captive portal on a specific network, the evil twin AP set up by fluxion changes the channel repeatedly. If I understand the process correctly, this does not make sense. Is there a misunderstanding on my part or is this a bug?

[2018-06-16 10:58] pitoballz opened #543 "apt-get install libasound2"
![screenshot from 2018-06-16 03-42-48](https://user-images.githubusercontent.com/35594987/41498075-aaf212b0-7153-11e8-8af5-07afc5adb5dc.png)    i have no sound trying to get sound please help new to this

[2018-06-16 11:08] deltaxflux commented on #543
This is not a support forum for random things. Ask somewhere else sry.

[2018-06-16 11:08] #543 closed

[2018-06-16 11:09] #540 closed

[2018-06-16 11:11] deltaxflux commented on #542
Well, fluxion follow the channel to make sure that deauth work. This is not a bug or something else this is the intended to do that,

[2018-06-16 11:11] #542 closed

[2018-06-16 11:13] #539 closed

[2018-06-16 11:14] deltaxflux commented on #539
Closing lack of response. Opening if required.

[2018-06-16 11:34] pitoballz commented on #543
spensas buey

[2018-06-16 11:38] pitoballz commented on #543
[REDACTED]

[2018-06-16 11:55] pitoballz commented on #543
spensas buey

[2018-06-16 12:33] pankaj97k opened #544 "at0 ERROR while getting interface flags: No such device"
**fluxion version: FLUX 0.23 (rev.  44) by  deltax**

wireless card: **alfa AWUS036H**

ISSUE:
fluxion is not creating fake ap
after selecting web interface this error shows up

**at0: unknown interface: No such device
SIOCSIFADDR: No such device
at0: unknown interface: No such **device**
SIOCSIFNETMASK: No such device
SIOCADDRT: Network is unreachable**

![1](https://user-images.githubusercontent

[2018-06-16 12:41] deltaxflux commented on #544
We have fluxion 4 try to test the latest release.

[2018-06-16 12:55] pankaj97k commented on #544
mdk3|mdk4................................... Missing!
please tell me how can i install this, i am using wifislax

[2018-06-16 13:16] deltaxflux commented on #544
Well, fixed this bug. Do `git pull` and try again.

[2018-06-16 13:18] deltaxflux commented on #544
And I noticed that you use the alfa AWUS036H. I think the wireless card is not compatible with hostapd but not I'm not sure.

[2018-06-16 13:57] tdw546 commented on #542
It seems to me that this is also the case when the target does not change the channel.

I have repeatetly seen the warning that channel A is being deauthed but the target is on channel B

Just letting you know

[2018-06-16 14:40] deltaxflux commented on #542
Do you use two wireless cards?

[2018-06-16 15:37] pankaj97k commented on #544
@usama7628674 is there any way to use fluxion ? or any other method ?

[2018-06-16 15:40] pankaj97k commented on #544
can i use airbase??

[2018-06-16 15:49] usama7628674 commented on #544
Yes you can but I don't recommend it.It's too slow and sometimes takes ages to connect.

[2018-06-16 16:12] pankaj97k commented on #544
@usama7628674  will intel dual band wireless-AC 3160 work with hostapd ???

[2018-06-17 09:22] Proxyl3ss opened #545 "Bug"
The first step with git clone didn't work for me.. I fixed it by typing git clone (link) and it worked fine.

[2018-06-17 09:44] usama7628674 commented on #545
@Proxyl3ss Did you follow the additional steps before cloning it?

[2018-06-17 09:47] usama7628674 commented on #544
@pankaj97k I don't know

[2018-06-18 09:29] usama7628674 commented on #544
@pankaj97k I use `alfa awus036nha`

[2018-06-18 09:33] pankaj97k commented on #544
Pls suggest some cheap one

On Mon, Jun 18, 2018, 2:59 PM Usama Abdul Sattar <notifications@github.com>
wrote:

[2018-06-18 09:39] pankaj97k commented on #544
Thank you

On Mon, Jun 18, 2018, 3:05 PM Usama Abdul Sattar <notifications@github.com>
wrote:

[2018-06-18 10:41] rad4day commented on #544
Make sure to actually get the V1. The newer hardware revisions **DO NOT WORK**

Also I think this issue is resolved. If not please re-open it.

[2018-06-18 10:41] #544 closed

[2018-06-18 10:54] pankaj97k commented on #544
Ok thank you

On Mon, Jun 18, 2018, 4:11 PM rad4day <notifications@github.com> wrote:

[2018-06-18 19:15] tdw546 commented on #542
Not always. Is there a connection?

[2018-06-19 04:11] voltaire1694 commented on #539
Very sorry folks -- had out of town guests, mother-in-law, etc.  No time.
I've run the diagnostic on all three wlan interfaces attached to my machine. See below.

`===============Run on wlan0 interface:

root@DESKTOP-N3NT70Q:~/Desktop/fluxion/scripts# ./diagnostics.sh wlan0
#### FLUXION Info
FLUXION V4.10

#### BASH Info
GNU bash, version 4.4.12(1)-release (x86_64-pc-linux-gnu)
Copyright (C) 2016

[2018-06-19 16:32] JeSuisRusse opened #546 "Can't connect to the fake AP with my phone."
Hi !
I'm a new user of Fluxion I have a new wireless card AWUS036NHA.
I capture the Handshake of my wifi with aireplay-ng.
And I start a wireless Acces Point with hostap.
I see the WiFi but when I connect with my phone, it's doesn't connect.
Thx !

Diagnoctic :

#### FLUXION Info
FLUXION V4.12

#### BASH Info
GNU bash, version 4.4.18(1)-release (x86_64-pc-linux-gnu)
Copyright (C) 2016 Free Softwar

[2018-06-19 20:35] sysroot255 commented on #546
Hello,

I have the same problem, unable to receive any IP from dhcpd server ? trying with two wireless card with Atheros drivers on ubuntu 18.04 ?

[2018-06-19 21:51] strasharo commented on #546
Do you see the DHCP window when the access point starts?

[2018-06-19 21:52] #545 closed

[2018-06-19 21:54] Proxyl3ss commented on #545
@usama7628674 I did bur it didn't work. Anyways I only wanted to say it. It works like a charm.

[2018-06-20 06:47] JeSuisRusse commented on #546
Okay it's nice, now i can connect to the fake AP but I don't see the fake login page.

[2018-06-20 16:35] voltaire1694 opened #547 "AP Attack Stops Randomly and Unexpectedly"
### Bug Report

#### Summary

At random intervals the Captive Portal attack will cease unexpectedly. All xterm windows will close, except for the FLUXION AP Autheticator window. The twin AP will stop broadcasting. Sometimes, in the remaining FLUXION AP window there will appear the line "cat:/tmp/fluxspace/clients.txt: No such file or directory". I should also say that I am typically working with 2

[2018-06-20 19:57] Genetick commented on #547
Same

[2018-06-21 11:40] Dylan433447 opened #548 "Fluxion 4.12 stucks on .."
Hello !

I've been using Fluxion latest version and i got a bug here
when i use Evil Twins --- HOSTPAD ---- IT STUCKS LIKE THIS
[fluxion@DyLaN]-[~] 1

[*] Starting Captive Portal access point service...

My info :
using LAPTOP INTERNAL WIRELESS CARD
WIFI :  Qualcomm Atheros AR9285 Wireless Network Adapter (PCI-Express)

[2018-06-21 12:06] usama7628674 commented on #548
@Dylan433447 See #509

[2018-06-21 19:13] strasharo commented on #546
Do you see the DNS service window?

[2018-06-21 19:28] JeSuisRusse commented on #546
Yes.

[2018-06-22 04:47] Dylan433447 commented on #548
BUG: unable to handle kernel NULL pointer dereference at 0000000000000066

i also get this error

You mean i should downgrade my kernel ?  is that right ?

could anybody tell me how to downgrade my kernel ???? if that right ?

or Could you guys tell me any solution for this issue ??

[2018-06-22 04:57] usama7628674 commented on #548
Just download kali 2018.1 and run the script again and don't upgrade your kernal again for the time being.

[2018-06-22 11:48] Denzel-Washington opened #549 "clone error not complete"
### Bug Report

#### Summary
Cloning into 'fluxion'...
Enter passphrase for key '/root/.ssh/id_rsa':
remote: Counting objects: 6256, done.
remote: Compressing objects: 100% (80/80), done.
remote: Total 6256 (delta 59), reused 76 (delta 32), pack-reused 6144
Receiving objects: 100% (6256/6256), 30.02 MiB | 515.00 KiB/s, done.
Resolving deltas: 100% (3272/3272), done.
Submodule 'attacks/Captive Port

[2018-06-22 12:19] MPX4132 commented on #542
@tdw546 Did you select an interface for target tracking, and did you select that same interface for AP creation? If you did, that’s a problem since it’s not supported.

You need to select `skip` on target tracking interface selection, otherwise the scanner will keep switching the channels on the rogue AP.

[2018-06-22 12:28] MPX4132 commented on #548
Sounds like a problem with your system, maybe a driver, but fluxion doesn’t throw errors like that.

[2018-06-22 12:30] JeSuisRusse commented on #546
Okay I try. 2s

[2018-06-22 12:32] MPX4132 commented on #549
You can try checking it out over SSL/TLS, just replace the git@github.com:FluxionNetwork/fluxion.git with https://github.com/FluxionNetwork/fluxion.git

[2018-06-22 14:09] Dylan433447 commented on #548
Usama ? What u mean by downloading 2018.1 again !! U mean reinstall kali !!

[2018-06-22 14:22] usama7628674 commented on #548
@Dylan433447 Yes download and install kali 2018.1 and you won't receive this error.

[2018-06-22 16:28] JeSuisRusse commented on #546
No, don't work.

[2018-06-22 17:44] C0D3K1LL3R commented on #520
I type it in?

[2018-06-22 17:45] C0D3K1LL3R commented on #520
This is it Still The DHCP Service is missing...

![shot-2018-06-23_01-40-29](https://user-images.githubusercontent.com/37650125/41791035-129ea2a6-7687-11e8-9b60-d1043be0c2ba.jpg)

[2018-06-22 18:35] Dylan433447 commented on #548
HOW TO PREVENT UPGRADING KERNEL?

[2018-06-22 20:59] Genetick commented on #547
My wireless
1 wifi :RT3070 (ac point and jamming)
2 wifi :RT2870 / RT3070 (target tracking)

there is a problem tracking this target for this driver.(2 wifi)

[2018-06-23 01:09] usama7628674 commented on #548
@Dylan433447 Do what @rad4day said.You just have to prevent all packages which have 4.16.12 in it.

[2018-06-23 11:40] TaurosOX commented on #429
Hello. Here is the record https://drive.google.com/file/d/1No6JyJmgx9NR_FKhWxmacbHzD5BimDQx/view?usp=drivesdk

[2018-06-23 11:44] TaurosOX commented on #429
@MPX4132 Hope it helps

[2018-06-23 14:17] #549 closed

[2018-06-23 14:46] Dylan433447 commented on #548
So i have to google how to block linux-* and linux headers packages from updating ?

[2018-06-24 00:18] voltaire1694 commented on #547
Ran another test: my conclusion is that it does not matter which of my interfaces is dedicated to jamming/ap or tracking (2x RT2870/RT3070 and 1x Centrino Advanced-N 6205): the behavior is the same.  The attack ceases unexpectedly and the xterm windows are closed.

[2018-06-24 01:53] decimoseptimo opened #550 "How does portal variables work?"
In wifislax, one can replace the default portal by overriding the contents of `/tmp/tmpflux/data` with a static site that abides to the specs.

According to the [docs](https://github.com/FluxionNetwork/fluxion/wiki/Preparing-portals-for-fluxion#about-portal-preprocessing), variables are available for in use in portal templates. What type of variables are, it mentions preprocessing, when does it ta

[2018-06-24 03:30] MPX4132 commented on #547
I don't think airodump-ng supports 802.11 ac properly. Fluxion shouldn't have an issue with it, but if airodump-ng has an issue, it'll be reflected on fluxion. Just keep in mind to keep the target tracking interface alone, do not make the target tracking interface do anything other than target tracking.

[2018-06-24 03:47] MPX4132 commented on #550
@decimoseptimo Congratulations! You're the first person that reads the docs, apparently!
On a more serious note, nobody's ever asked about that, so I'm glad you picked up on it.

Anyway...
Essentially, if you want to create a custom `Captive Portal` user interface, follow that guide you linked. Let's say on your custom portal you'd like to display either the ESSID (SSID), BSSID (MAC), or channel o

[2018-06-24 03:49] MPX4132 commented on #538
Closed due to lack of response. We may reopen the issue once we've got more information.

[2018-06-24 03:49] #538 closed

[2018-06-24 03:52] MPX4132 commented on #546
@JeSuisRusse Try what I said on my last comment, then connect to the fake AP.

Once you're connected to the fake AP, try going to `http://screwsecurity.net` and check if you can access the `Captive Portal`.

[2018-06-24 04:11] voltaire1694 commented on #547
Hello MPX4132
Understood about the support for airodump and 80211.ac.  However  RT2870/RT3070 interfaces are 802.11b/g only.  Dedicating them to the tracking task does not change the crashing behaviour, so I'm not sure about your recommendation: are you proposing that the Centrino Advanced-N 6205 be avoided?

[2018-06-24 05:04] MPX4132 commented on #547
@voltaire1694 I'm not really sure what's happening. Can you try running the script in debug mode?

You'll have to open the debug log right after starting fluxion (before you select an attack).

Start fluxion **in debug mode**:
[code]

Display the debug log:
[code]
Run the attack up to the point where things crash for you and post the output in your reply.

[2018-06-24 05:19] decimoseptimo commented on #550
I think i get the variables part, but I don´t know how to use the templates to begin with.

See, I´m basically overriding the server files in place (into the temporary folder). As opposed to chosing the custom template from the menu. So far hardcoding the values into the template do the trick.

By the way the generic templates could be better. I think that a decent light/dark theme, mobile ready,

[2018-06-24 06:04] MPX4132 commented on #550
@decimoseptimo Oh, I understand.

If you want to create your own interface you can do it **ONE** of the following ways:
* Making it from scratch, by wiring all the files for yourself, including HTML, CSS, & Javascript.
* Get it from an existing router by using some tool to download all the files for the interface. The page you linked is specifically for these types of interfaces, the ones you get

[2018-06-24 09:42] NavjotSinghMinhas opened #551 "captive.gateway.lan loading indefinitely"
### Bug Report

#### Summary
After connecting to the AP from my mobile, the browser connects to captive.gateway.lan and it doesn't open anything, it just keeps on loading and loading

##### What is the current behaviour?
It is not showing the enter password screen when connected to the AP

#### How to reproduce
Just open captive.gateway.lan on the browser in **kali linux arm** and it will load ind

[2018-06-24 11:33] TaurosOX commented on #429
I'm using a light version of Kali. May be this is the reason of this issue? Any help, mates

[2018-06-24 15:00] MPX4132 commented on #429
@TaurosOX Okay, by the looks of it, it seems the problem is NOT the IO library which is what takes user input and validates it. That means it could be a problem with the “sequencing framework” or another issue related to the attacks selected, I’ll look into it in a bit and let you know what to try to see if we can find the problem.

I think it’s an incompatibility issue between your bash and the s

[2018-06-24 15:15] rad4day commented on #429
@MPX4132  I don't know what you want to gain from the location/symlink of his bash file.
@TaurosOX  I would be interested in the output of the diagnostics script or at least the output of
 `bash --version`

[2018-06-24 15:18] MPX4132 commented on #429
@rad4day I want to know if it’s pointing to dash, rather than bash. As far as I’m concerned, dash has a few things stripped out and I doubt the sequencing framework would work on dash. Dash is typically bundled with “light” distros, so yeah.

[2018-06-24 17:48] TaurosOX commented on #429
Here https://drive.google.com/file/d/1wGbq52hqw-LPQ0pow-BIXDOIP3YPxznH/view?usp=drivesdk

[2018-06-24 19:52] decimoseptimo commented on #550
I'm using wifislax from a liveusb and don't see that folder.
In `/opt/fluxion/sites/` there are 20ish folders with portals, but once in the fluxion menu 44 are shown...

Regardless, I put my theme in there, or I create a `/opt/fluxion/attacks/Captive Portal/portals` folder and put it there. It doesn't appear in the menu. I can even duplicate/rename one of the already present themes, yet only the d

[2018-06-24 21:28] MPX4132 commented on #550
There’s also no `/tmp/tmpflux` directory since version 3.

[2018-06-25 20:15] decimoseptimo commented on #550
Hum, I was using and old ISO I had lying there. I updated to wifislax 4.12,
it has fluxion 23 rev 40. It is still `/opt/fluxion/Sites` and `
/tmp/TMPflux/data`
Also, creating `fluxion/attacks/Captive Portal/sites` didn't make the trick.

On Sun, Jun 24, 2018 at 2:28 PM, Matias Barcenas <notifications@github.com>
wrote:

[2018-06-26 05:07] voltaire1694 commented on #547
Ok, doing a test run.  For whatever reason, the attack is running smoothly (so far).  Please hold.

[2018-06-26 13:13] manuele16 commented on #546
@JeSuisRusse  Hi, did you solve it? I've your same problem.

[2018-06-26 16:01] voltaire1694 commented on #547
OK, I did two runs on two different APs.  Behaviour was a little different in diagnostic mode: not all of the xterm windows shut down, but the evil twin AP did shut down without the attack being terminated.
Grateful for any insights...
[Diagnostic_Test_Output.txt](https://github.com/FluxionNetwork/fluxion/files/2137917/Diagnostic_Test_Output.txt)
[Diagnostic_Test_Output_2.txt](https://github.com/F

[2018-06-26 22:58] voltaire1694 commented on #547
Here is the other debug log:
[Diagnostic_Test_Output_1.txt](https://github.com/FluxionNetwork/fluxion/files/2139260/Diagnostic_Test_Output_1.txt)
Sorry for the length: this one ran a long time.

[2018-06-27 14:35] Rajeshtims opened #552 "Unable to install the dependencies that are missing"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-06-27 18:11] rad4day commented on #552
How are we supposed to help you without any information about your environment?
Please provide at least which dependencies are not resolvable and which OS + version you are using
Also any error you are shown would be amazing.

Reopen this please as soon as you can provide this information.

[2018-06-27 18:11] #552 closed

[2018-06-27 18:30] rad4day commented on #429
Oh sorry, I'm pretty bad in reading my notifications as it seems.
Well your bash does not point at dash, which is good.

I'm sorry I'd like to verify if it is a problem with the (a little bit) outdated bash version, but I have almost no time right now.

@MPX4132 @deltaxflux  you probably know more about this then me

[2018-06-28 08:16] NavjotSinghMinhas commented on #551
Is there anyone monitoring for bugs?

[2018-06-28 19:08] tdw546 commented on #542
@MPX4132 Thanks for the hint.

That might be it.

However I consider this behavios and the fact that using the same interface is not intendet as a (usability) bug itself. Please consider changing this, e.g. by using a warning message if the same interface is used.

[2018-06-29 04:32] 3mmory commented on #548
i have this problem in launching the program
[*] aircrack-ng...................................... OK.
            [*] python2.......................................... OK.
            [*] bc.......................................... Missing!
            [*] awk.............................................. OK.
            [*] curl............................................. OK.
            [*] c

[2018-06-29 06:10] rad4day commented on #551
Sorry, we seem to be all very busy right now

[2018-06-29 06:11] NavjotSinghMinhas commented on #551
Okay, thanks.

Will wait then :)
No problem.

[2018-06-29 14:02] iToXiC-Devex commented on #548
I have the same issue... fluxion was working fine, then suddenly it started stucking at “Starting Captive Portal Service” any help? I have the same wireless adapter as Dylan433447 which is AR9285. I was using fluxion with the same adapter tho and it was working fine...

[2018-06-29 15:53] usama7628674 commented on #548
@Didn't you read the hole thread?See #509

[2018-06-29 21:17] iToXiC-Devex commented on #548
@usama7628674 so basically i need to reinstall kali?

[2018-06-30 00:15] usama7628674 commented on #548
Exactly

[2018-06-30 00:33] iToXiC-Devex commented on #548
@usama7628674 sorry for asking many questions... but i just want to know should it be a different version? Or i can just reinstall the same version again?

[2018-06-30 03:43] usama7628674 commented on #548
@iToXiC-Devex Just download kali 2018.1 and don't update it or update packages only and don't do `apt dist-upgrade`

[2018-07-01 19:36] sysroot255 commented on #546
hello, I have the same problem, all the services launch out but the Web page does not launch out automatically, I can manually go at the address 192.168.254.1 and I find the good page which requires the password but this page does not launch out automatically unfortunately, how then I to solve this problem, I am on kali linux 2018.2

[2018-07-02 01:14] Cheshirem opened #553 "When the WIFI name contains Chinese, it garbled."
I found that if the WIFI name contains Chinese, it grabled. And when I try to catch a handshake package, although it shows out “WPA2  handshake : MAC”, it still go on catching the handshake, never end. The WIFI signal is good, and there are several clients are sending package with the router. I thought the problem is caused by garbled Chinese text. Because of the existence of garbled code, althoug

[2018-07-02 04:18] Denzel-Washington opened #554 "error: /dev/fd/"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question
hi, when i run fluxion.sh  i get this error:
./fluxion.sh: line 1695: /dev/fd/62: no such file or directory
./fluxion.sh: line 1698: /dev/fd/62: no such file or directory
#### Specs

[2018-07-02 21:49] mofox opened #555 "MDK4 not found, AP jammer service not working, can't connect manually to the fake AP, Fake AP not visible on mobile phone"
### Bug Report

#### Summary
**AP Jammer not working properly or at all**
**Can't connect to the fake AP**

[*] Starting Captive Portal access point service...
[*] Starting Captive Portal access point routes...
[*] Starting access point DHCP service as daemon...
[*] Starting access point DNS service as daemon...
[*] Starting access point captive portal as daemon...
[*] Starting access point jammer

[2018-07-03 13:55] joker99789 commented on #555
I have same issue

[2018-07-03 14:16] deltaxflux commented on #555
Yeah, I will look at that today. I'm back :)

[2018-07-03 19:21] deltaxflux commented on #554
Looks like that the udev package is missing try to install it:
[code]

[2018-07-03 19:41] 3x-M4ch1nA commented on #548
How to fix fluxion issues? Downgrade your distro because fluxion can't keep up to date enough to solve the issue on their end. Seems legit

[2018-07-04 02:14] usama7628674 commented on #548
@3x-M4ch1nA You're totally wrong.The bug is in kernal not fluxion.

[2018-07-04 08:16] cembey068 opened #556 "Handshake Corrupted!"
How can i solve this problem? I'm using Kali Linux 2018.2

[2018-07-04 08:58] TaurosOX commented on #429
@deltaxflux why did you close this issue? :(

[2018-07-04 14:08] strasharo commented on #556
What type of verification for the handshake did you choose?

[2018-07-04 20:28] deltaxflux commented on #555
Seems like issue is solved.

[2018-07-06 02:48] MPX4132 commented on #547
[code]
The wireless interface is hanging, probably because the driver crashed or something similar.
Have you tried running the script without target-tracking?
Just choose `Skip`, and check if you continue to have the issues, however, the script will not detect changes to the target's channel.

[2018-07-06 02:50] MPX4132 commented on #542
@tdw546 Nope, can't do that. The fact it doesn't work for us doesn't mean there's no driver that might support multiple channels from virtual interfaces.

[2018-07-06 02:58] MPX4132 commented on #551
@NavjotSinghMinhas Sorry for the wait, like @rad4day said, we've been busy. From what I recall, checking with the host machine will no longer work because of a change I made to keep things isolated. However, you can check using linux tools. Try the following when the `Captive Portal` attack is running:
[code]

If those two work, the image you've shown shouldn't matter.

[2018-07-06 03:01] MPX4132 commented on #553
@Cheshirem Like @deltaxflux said, it's a lack of support by `airodump-ng`, **however, the latest version does include support.** You might want to take a look at how to update your version and that might get it working for you.

Also, [here's some of the closed issues](https://github.com/FluxionNetwork/fluxion/issues?utf8=✓&q=is%3Aissue+is%3Aclosed+chinese) where it has been mentioned before.

[2018-07-06 03:02] MPX4132 commented on #546
I wonder if there's a problem with some update. People seem to be having problem accessing the captive portal.

[2018-07-06 03:07] MPX4132 commented on #548
@3x-M4ch1nA Maybe if you stopped for a bit and helped out, we might be able to "fix fluxion", man.

[2018-07-06 03:10] MPX4132 commented on #429
@TaurosOX Can you pick up any networks with `airodump-ng`?
[code]

[2018-07-06 03:11] MPX4132 commented on #556
@cembey068 How do you know it's corrupted?

[2018-07-06 03:12] MPX4132 commented on #555
@mofox Is the issue fixed?

[2018-07-06 06:52] mofox commented on #555
@MPX4132 Partially. I don't get the error message anymore, but the rest is still not working for me. I talked with deltaflux and I got stuck at mdk4 installation. I get an error message at "make" command. It's a bit harder for me, since I am a new Linux and Pentest user. I will report as soon as I make a live USB. I hope this weekend.

[2018-07-06 07:23] deltaxflux commented on #429
Sorry @TaurosOX was accidentally.

[2018-07-06 07:30] deltaxflux commented on #555
@MPX4132 yeah I fixed this in the last commit.

[2018-07-06 12:53] Cheshirem commented on #553
Thanks! It worked. I reinstalled the aircrack-ng and changed one row code in the C file, and it supported the chinese name. I found the support from here : https://holmesian.org/ubuntu-aircrack

[2018-07-06 14:51] voltaire1694 commented on #547
I will re-run with no target tracking, and advise.  However, I am pretty sure you are correct -- it's the re-start of the attack triggered by a detected change in channel that causes everything to hang.  The target tracking feature is highly valued, however, so I hope I can get this functionality up and running eventually. More soon.

[2018-07-06 14:51] strasharo commented on #554
What OS are you trying to run it on?

[2018-07-06 14:53] NavjotSinghMinhas commented on #551
But i connected my mobile to this AP, captive.gateway.lan opens up and loads indefinitely on that device also.

[2018-07-07 03:30] MPX4132 commented on #556
@cembey068 If you are in fact getting a corrupted handshake, make sure to capture the handshake with synchronicity of "Synchronous", don't use "Asynchronous".

[2018-07-07 03:32] MPX4132 commented on #555
@mofox Oh I see, if it's related to your build, it falls outside the bounds of fluxion.
@deltaxflux I see, I'll check it out to see what the issue was. I'm curious.

[2018-07-07 03:35] MPX4132 commented on #553
@Cheshirem great, I'm glad you got it working. People keep complaining it's an issue with fluxion, but just like you saw, it's clearly a problem with `airodump-ng` (it's outdated).

[2018-07-07 03:37] MPX4132 commented on #547
I think they updated something with the drivers about two months ago or so, and things have been flakey. That might have something to do with the issue. It's a bit annoying.

[2018-07-07 03:39] MPX4132 commented on #551
@NavjotSinghMinhas Did you try what I mentioned, and did you get anything?

[2018-07-07 03:40] MPX4132 commented on #551
Also, there should be no problem with your driver. I use the exact same one for testing.

[2018-07-07 03:50] MPX4132 commented on #429
Hey @TaurosOX try launching fluxion in debug mode and post the output here:

[code]

[2018-07-07 19:34] voltaire1694 commented on #547
Ran one test (skipping the tracking) and the AP crashed after about 9 hours.  However I suspect the radio might have overheated (it was in the full sun on a hot day).  I am running another test now.

The hanging issue does have the smell of a driver problem, doesn't it. I believe I am running Kali 2018.1, which (I think) has fewer problems.  Are the drivers independent of the Kali release?  Should

[2018-07-07 22:18] MPX4132 commented on #547
@voltaire1694 I'm not really sure, man, I've only encountered a few driver problems, so I don't have enough experience to confidently say it's the drivers, but I do think that's what it is.

My card uses the `ath9k_htc` driver... odd, I just checked on your report and you mentioned your hardware uses the `rt2800usb` driver, which, if I recall correctly, does in fact have issues. Damn it, I don't k

[2018-07-07 22:29] deltaxflux commented on #547
Sorry, we could implement a check in the diagnostic script.

[2018-07-07 22:49] MPX4132 commented on #547
@deltaxflux We could do that, but if that's going to be the case, we should have a dedicated file where we list affected drivers, since having them directly in the script isn't very good design. We'd have to modify the script every time a new driver is added, whereas if we have a file where we list them, we just append the new driver to a new line. But yeah, good suggestion.

[2018-07-07 23:03] deltaxflux commented on #547
Yeah, sounds interesting. I have now some spear time left. Maybe fix this tomorrow?

[2018-07-09 13:17] TaurosOX commented on #429
Check screenshots that have attached
1. https://drive.google.com/file/d/1pSKrumVsgJC1YAtbcY7XkiGLLLhkKoxY/view?usp=drivesdk
2. https://drive.google.com/file/d/1wS5tZ160ltcl9_9gN5DzVW4kc08-NkCv/view?usp=drivesdk
3. https://drive.google.com/file/d/19vikC6UpFldgDsN6H5cR8nxuj1LoMA-1/view?usp=drivesdk

[2018-07-10 02:14] MPX4132 commented on #429
@TaurosOX You need to open two terminal windows, one where you launch fluxion and wait till the first menu shows up. Then run the second command I posted on the second window after you're at the menu in the first window (launch the `tail` command on the second window while the first window is on the menu).

Then try to go into one of the menus. Terminate fluxion with ctrl+c (the first window), and

[2018-07-10 16:43] NavjotSinghMinhas commented on #551
firefox reditects 192.168.254.1 to captive.gateway.lan and then server not found error.

[2018-07-10 16:43] NavjotSinghMinhas commented on #551
firefox reditects 192.168.254.1 to captive.gateway.lan and then server not found error.

[2018-07-10 19:40] sonfiree commented on #429
Debug http://prntscr.com/k4w053

[2018-07-10 22:28] rizky1212 opened #558 "fix bugs language 'el.sh' kali linux 2018.2"
ls: cannot access '1': No such file or directory
head: cannot open '/root/fluxion/attacks//root/fluxion/attacks:/language/el.sh' for reading: No such file or directory

#### Summary

##### What is the current behaviour?

#### How to reproduce

##### If the current behaviour is a bug, please provide the steps to reproduce it.

##### What do you think the expected behaviour should be?

##### If this

[2018-07-10 22:43] #558 closed

[2018-07-10 22:43] deltaxflux commented on #558
merci :)

[2018-07-11 19:03] moliata commented on #555
Not able to manually connect to an access point using same configuration as @mofox (without SSL cert).

[2018-07-12 04:02] MPX4132 commented on #551
Make sure to use the protocol **http://** and don't assume it's there.

[2018-07-12 04:03] MPX4132 commented on #429
@sonfiree That wasn't a problem, unless you didn't properly configure your keys.

[2018-07-12 05:10] keethesh opened #559 "Unknown mac address appearing in Handshake Captor"
There is a Mac address in the handshake captor. It looks awkward as it is composed only of F's.
I'm using a wifi dongle for target tracking, and another one for jamming. I selected mdk3 deauthentication and asynchronous. Is there anything I'm doing wrong? I'm now using version 4.13, but in version 4.12 it was working.

[2018-07-12 05:12] MPX4132 commented on #559
@keethesh Just pushed version 4.14, fixing lots of bugs introduced on version 4.13, please upgrade.

[2018-07-12 05:15] keethesh commented on #559
Thanks, it's now working!

[2018-07-12 05:15] #559 closed

[2018-07-12 07:20] voltaire1694 commented on #547
Still running tests. Trying to replicate again with a different adapter set-up.
Somewhat off-topic I know but I'm noting is a need is to track AP hopping from the 2.4 Band to the 5GHz band -- this seems to be the new behavior for many 802.11n networks.  Targeting only 2.4GHz isn't going to accomplish much.

[2018-07-12 08:05] rad4day commented on #547
@voltaire1694
The access points usually don't "switch" bands. Nowadays they usually have multiple antennas and are active on 2.4 and 5Ghz at the same time. Clients also usually prefer the 5Ghz band. If they are for some reason already connected to 2.4 they usually stay there until they lose connection.

I know of several bigger networks where the controller will try to kick you off 2.4 Ghz and mak

[2018-07-12 16:39] Mant00 opened #560 "Can't launch Fluxion"
A few days ago I was able to run Fluxion and everything worked perfect, but today I had got a problem. I installed Fluxion on Kali and when I launched it, the problem started.
Link for video:
https://nofile.io/f/fvE2thNHr5X/problem.webm

Thank you in advance for your reply!

[2018-07-12 20:23] kkar commented on #491
I can verify that the same happens to me, although it's very strange since it doesn't happen in older versions (version 2 for example). Both versions tested on the same computers. The older version works as expected, the current one doesn't.

[2018-07-12 20:42] jmeeter opened #561 "After update, cannot capture handshake"
### Bug Report

#### Summary
Since recent update, whenever I select which channel I would like to scan for access points, there is a brief error code and I am returned to channel selection screen.

##### What is the current behaviour?
There is a brief error code and I am returned to channel selection screen. Cannot progress

#### How to reproduce

##### If the current behaviour is a bug, please pr

[2018-07-13 02:00] MPX4132 commented on #560
@Mant00 I already fixed that issue, I'm not sure why it's breaking. Reboot yous system and check if it keeps doing that.

[2018-07-13 02:02] MPX4132 commented on #491
@kkar Did this start happening recently, as in, for a few days/weeks now? If you don't know that's fine.

[2018-07-13 11:29] Mant00 commented on #560
Ok, Thanks a lot!

[2018-07-13 11:36] Mant00 commented on #560
Now everything works perfect, thank you once again!

[2018-07-13 11:36] #560 closed

[2018-07-13 17:52] MPX4132 commented on #560
Thanks for letting us know. Looks like you encountered a strange bug with bash itself, rather than fluxion.

[2018-07-14 12:08] TaurosOX commented on #429
Thank you for everyone! The issue has gone after toodays update. It works finally!

[2018-07-15 04:00] voltaire1694 commented on #547
Gents, I have changed my radios and now am unable to replicate this behavior.  I would close this issue at this point.  Many thanks for your support -- the functionality is very impressive, and your efforts are really appreciated.
I am now focused on AP attacks on dual-band systems which operate under a single SSID.  Although a single twin AP on 2.4GHz is fine for the attack, in order for it to be

[2018-07-15 04:30] voltaire1694 commented on #329
Dumb question: what would be the advantage of jamming a specific client on a target AP, while leaving the others undisturbed?

[2018-07-15 04:48] MPX4132 commented on #385
@voltaire1694 I'll try getting a 5Ghz interface soon so I can implement that feature, sorry for the delay.

[2018-07-15 04:50] MPX4132 commented on #547
@voltaire1694 Temporarily, you could try launching mdk3/4 on the 5Ghz band and target the specific BSSID of the target. We suggest you do things with permission, in other words, legally.

[2018-07-15 04:52] MPX4132 commented on #329
@voltaire1694 I think jamming a specific client could be a type of "spear phishing." Target the least tech savvy users, since they're the ones less likely to suspect of a potential intrusion.

That's the only thing I can think of and why I didn't close this feature request.

[2018-07-15 04:53] MPX4132 commented on #561
Please clone the latest version from the repo and check again, the issue might've been fixed.

[2018-07-15 09:20] aquilabianca8 commented on #385
This improvement is very important in these times, because the actual routers have two band (2,4ghz and 5 ghz) that works simultaneously, with different or same ssid; but i noticed they have TWO DIFFERENT MAC ADDRESS.
How to solve this problem?

Best Regards

Il giorno 15 lug 2018, alle ore 06:48, Matias Barcenas <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@voltaire169

[2018-07-15 18:44] MPX4132 commented on #385
@aquilabianca8 You'd just have the secondary 5Ghz interface targetting the 5Ghz MAC address. On dual-band cards (a single card combining 2.4 and 5Ghz), I don't really know.

[2018-07-15 18:46] MPX4132 commented on #561
@arismelachroinos I think you have a very different issue than that of @jmeeter since he can't even launch the attack.

Does your router/access point have both, 2.4Ghz and 5Ghz bands?

[2018-07-15 18:59] MPX4132 commented on #551
I'm closing this, since there was no response and I can't seem to be able to reproduce the issue. Once you respond we can reopen the issue if you can give us more information.

[2018-07-15 19:00] MPX4132 commented on #554
No response in two weeks, abandoned.

[2018-07-15 19:00] #554 closed

[2018-07-17 03:18] suzzanadh opened #562 "Target tracker failed to unprep attack."
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-07-17 03:20] suzzanadh commented on #562
Target tracker failed to unprep attack. finally when it tries to deauthenticate and provide fake ap this error occurs in latest version 4.14
help me

[2018-07-17 03:59] voltaire1694 commented on #385
Again, I don't think it's necessary to enable rogue AP functionality on the 5GHz band.  Every client that has 5GHz capability will also have 2.4GHz as well.  Adding a separate function for jamming 5GHz while simultaneously jamming a target in the 2.4GHz hand + Rogue 2.4GHz AP should be enough (for now) for Pen Testing dual band networks.

[2018-07-17 04:10] MPX4132 commented on #562
Fill the issue template.

[2018-07-17 04:10] 3x-M4ch1nA opened #563 "multiple small issues and questions"
Firstly, i'd like to say there seem to be a lot of present issues and bugs posts, though most are due to user mistakes.

But in fluxion 3, everything worked mostly perfectly with the exception of jamming newer phones. Now fluxion 4 fails at alot of things, such as deauthing during Captive Portal, and the big problem of security warnings and such that appear when connecting to Captive Portal (becau

[2018-07-17 04:12] MPX4132 commented on #385
That’s not necessarily true, I have a pair of 5Ghz dedicated access points.

[2018-07-17 04:51] suzzanadh commented on #562
Then how can I get rid of this problem. Please give me the solution

On Tue, 17 Jul 2018, 9:55 am Matias Barcenas, <notifications@github.com>
wrote:

[2018-07-17 04:55] suzzanadh commented on #562
I am new here .. so I don't know where to fill the issue template

[2018-07-17 04:56] 3x-M4ch1nA commented on #563
to the ASCII art, ah ok. And no, I'm running kali-nexmon...(or whatever the arm build under pi boards is)

running ls -lA $(which bash) returned:
<pre>-rwxr-xr-x 1 root root 734640 Jun 18 05:15 /bin/bash
</pre>
(idk how to post code here, sorry for sloppy just copy and paste)

And i always see that warning "DONT USE VIRTUAL INTERFACE HERE", so i don't. I always use what is highlited as "recommende

[2018-07-17 07:08] suzzanadh commented on #246
@xmagickx please share how you edited to choose airplay instead of mdk 3 in 2nd part

[2018-07-17 07:14] xmagickx commented on #246
Just see aireplay-ng commands... You will find it... Edit the fluxion.sh
accordingly...

On Tue 17 Jul, 2018, 12:38 PM suzzanadh, <notifications@github.com> wrote:

[2018-07-17 07:20] 3x-M4ch1nA commented on #563
So i did as you suggested @MPX4132
I used skip on tracking and all went well.
In fact, i DID autoconnect my phone in a way. internet went out as i was going to settings, turned it off/n real quick to restart, and was on evil AP by default. So it didn't really Force it, but seems off and back on autoconnects to rogue (useful info).

So thank you, it seems this one was also a user error, but im blam

[2018-07-17 10:11] kkar commented on #491
@MPX4132 it happens every time since I tried the most recent version of the script. Not happening with version 2.

[2018-07-17 10:19] kkar opened #564 "Optiontal SSL certificate?"
### Feature Request
Hello, is it possible **to NOT** issue a certificate for the web portals? The untrusted certificate is the only reason that fluxion "doesn't work". Most users are not able to "force" their browser to trust our certificate because they don't know how. Plus, they are reading the browser's description for what's happening and they stop responding completely.

Thank you!

[2018-07-17 10:53] deltaxflux commented on #564
Yeah that is a problem:
but since using lets encrypt is against terms and building a own one is expensive there is no other choice, use http instead.

[2018-07-17 11:06] kkar commented on #564
@deltaxflux how am I going to use http, when the wizard has only two options, one for "new certificate" and one for "search for certificate"..? 🤓

[2018-07-17 11:22] suzzanadh opened #565 "f the victim is confuse because of two wifi name and dont want to type password,and restart its router it will automatically connect again to the router,this method will not work if he do that﻿"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-07-17 16:13] rad4day commented on #564
You choose to not use ssl in the previous step

[2018-07-17 17:20] mishablokhin commented on #425
Hi. I set up mdk4 manually, target it on the victim AP BSSID and channel, but it kicks client devices from my Rogue AP too, not only from victim AP. What should I do in this case? I am using this command:
`mdk4 fluxwl0 d -c 10 -B `10:7B:44:B4:1E:6C`

[2018-07-17 17:21] mishablokhin commented on #563
Hi. I set up mdk4 manually, target it on the victim AP BSSID and channel, but it kicks client devices from my Rogue AP too, not only from victim AP. What should I do in this case? I am using this command:
mdk4 fluxwl0 d -c 10 -B10:7B:44:B4:1E:6C`

[2018-07-17 19:26] #564 closed

[2018-07-17 19:26] #565 closed

[2018-07-18 00:17] MPX4132 commented on #491
Sorry, I'm not familiar with version 2.

If you need airmon-ng support, use the airmon-ng flag:
[code]

[2018-07-18 08:59] deltaxflux commented on #563
The difference is that if you use the blacklist file you could deauth multiple targets.

[2018-07-18 09:04] mishablokhin commented on #563
@deltaxflux OK, I got it. So, I need to put clients MACs in the blacklist file and start attack with mdk4? This will not kick client devices from my Rogue AP?

[2018-07-18 10:45] mishablokhin commented on #563
@deltaxflux My `mdk4` stuck on
`Periodically re-reading blacklist/whitelist every 3 seconds` while on Fluxion sub-interface `fluxwl0,` it works normally and deauth targets only with Fluxion terminal window closed and `wlan0mon` interface.

![2018-07-18 12-11-31](https://user-images.githubusercontent.com/25735019/42876663-059c2228-8a90-11e8-9b6d-6f98536559a7.png)

![2018-07-18 13-44-26](https://use

[2018-07-20 03:03] supernikio2 opened #566 "Dependency installation failed"
### Bug Report

#### Summary

Running ./fluxion.sh for the first time always fails when installing dependencies.

##### What is the current behaviour?

Every time I've tried to install fluxion, be it on a laptop or fresh VM, it always fails when installing dependencies.

#### How to reproduce
##### If the current behaviour is a bug, please provide the steps to reproduce it.

Set up a fresh VM with

[2018-07-20 08:11] budi-darmawan opened #567 ""ifconfig" can't be found and fluxion won't work, but it was SOLVED by installing net-tools package"
### Feature Request
| New Feature | yes
| RFC         | no
| BC Break    | yes (maybe)

#### Summary
Many linux distributions don't use ifconfig anymore. It was replaced by "ip" command. So if fluxion planned to use ifconfig for future release, checking/installing "net-tools" package might be good for user.

[2018-07-20 09:48] deltaxflux commented on #567
Thank you !

[2018-07-20 09:48] deltaxflux commented on #567
We general want to switch to ip because ifconfig is deprecated.

[2018-07-21 14:08] #555 closed

[2018-07-21 14:08] #556 closed

[2018-07-21 14:08] #536 closed

[2018-07-21 14:08] #537 closed

[2018-07-21 14:08] #566 closed

[2018-07-23 02:50] bradcool22 opened #571 "Fluxion Error???"
"Tried to connect to session manager, None of the authentication protocols specified are supported"
I'm getting that error when Im trying to do a captive portal attack.

My wifi adapter is: Alfa AWUS036ACH
Linux Distro: Parrot OS

[2018-07-23 06:43] #571 closed

[2018-07-23 19:11] mishash1998 commented on #499
When you on Optima WiFi your ping is blocked by ISP. The only IPs you can ping is 10.240.205.161 ( their DNS ). You also can ONLY use 10.240.205.161 as DNS - others will be blocked. Big brother... But this... "We ping Google's DNS servers because they're usually always guaranteed to be up"? imho - bad development.

[2018-07-24 06:28] dunkydoggie opened #572 "Blank captive portal"
Please fix the error when i started to connect to ap mode the captive is blank nothing i can put a password.

[2018-07-24 16:57] paladino2 opened #573 "Fake AP very slow ??? Why ?"
Hi there, i am tryng to use Fluxion, i have  got the handshake.. But i have some problem with the evil twin feature. After i started the fake AP, i tried to connect my phone but sometimes work and load the fake page in  a very slow way, sometimes is stuck on Obtaing IP address, sometimes not connect. I tried different smartphones, different wireless adapter (TP LINK WN-722N V1.10 / Alfa AWUS036NH

[2018-07-24 18:04] strasharo commented on #573
Are you using airbase or hostapd?

[2018-07-24 18:04] #572 closed

[2018-07-24 18:30] rad4day commented on #548
@Dylan433447 ask google or on stackexchange. You should find a how to for your package manager / distro.
Also it's pretty annoying for all people who are on the mailing list for this issue to receive comments after almost one month. That's why I'm locking it.

[2018-07-24 18:57] rad4day commented on #573
I can confirm that it is very very slow with hostapd and a Alfa AWUS036NHA, too.
Didn't test airbase yet.

[2018-07-24 19:11] deltaxflux commented on #573
Yeah airbase is slow.

[2018-07-24 19:11] #561 closed

[2018-07-24 19:12] #562 closed

[2018-07-24 19:13] deltaxflux commented on #563
Maybe this is a driver issue.

[2018-07-24 19:43] #573 closed

[2018-07-25 08:06] paladino2 commented on #573
I am using hostapd and airbase as well, same problem. What can i do?

[2018-07-29 03:45] ss6916 opened #576 "Alfa AWUS036ACH does not work"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

Alfa AWUS036ACH does not work in Captive Portal, in the starting Captive Portal access poiint service...

Make error when trying to install Patch driver (rtl8812au)
Root@kali:~/rtl8812au# sudo make
Make ARCH=x86_64 CROSS_COMPILE= -C /lib/modules/4.14.0-kali3-amd64/build M=/root/rtl8812au modules
Make[1]: Enter

[2018-07-29 13:16] strasharo commented on #576
We're not writing drivers for any wireless adapter, contact its developer.

[2018-07-29 13:16] #576 closed

[2018-07-30 10:16] huntergon426 opened #577 "Portal page not show in Device"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

Hi,
I start the Fluxion, all the step for config the attack are normal, but after the final step to start those associated damons, the monitoring window for Web Service is empty, nothing show in there. And the DNS window just show only 1 line as show below.  The Fake AP could be detected by my Iphone and lapto

[2018-07-30 14:29] hieutrandn9889 opened #578 "Dependency installation failed!"
I clone github to my computer in kali linux 2018.2
Run fluxion and get this issue as below:
./fluxion.sh: line 248: format_center_literals: command not found

./fluxion.sh: line 255: format_center_literals: command not found

./fluxion.sh: line 263: installer_utils_check_update: command not found

./fluxion.sh: line 282: installer_utils_check_dependencies: command not found
./fluxion.sh: line 283:

[2018-07-31 12:07] rad4day commented on #578
Couldn't reproduce.
fresh kali 2018.2 lite install
updated + upgraded + installed git

[2018-07-31 12:13] #578 closed

[2018-08-01 13:12] #567 closed

[2018-08-01 13:18] deltaxflux commented on #577
### Hey,
thanks for your issue request. First please update fluxion to 4.15. If the problem still appear use following.

It looks like the lighttpd don't start propertly. Run the attack. Close the lighttpd window. And **execute**:

[code]

Regards,
deltax

[2018-08-01 15:44] huntergon426 commented on #577
@deltaxflux thanks for your message.
I tried what you told. Seems closing the lighttpd window will not terminate the lighttpd process, I need to kill it manually before I run the cmd you said. Otherwise, it promts that the port 80 is in use. After executing the cmd, I still can't got the portal page. Do I need to purge the lighttpd and use the fluxion.sh to auto install it again?

BTW, I noticed t

[2018-08-01 16:17] deltaxflux commented on #577
Thanks for the quick response. My bad the command get executed in the background. We have to **kill** the **lighttpd** first.

**Kill lighttpd:**
`kill -9 [pid]` #in your case `kill -9 4563`

After we run the **lighttpd** command like above.

Well, the **ChipsetUtils** has nothing to do with that. It is only for **diagnostic** and only get called if someone exectute the diagnostic.sh file. What do

[2018-08-02 09:35] huntergon426 commented on #577
@deltaxflux
I figure out where the problem is. it's related to my iptables setting. My default policy for INPUT chain of filter table is **DROP**. When I change to ACCEPT, it works well. But if I want to make my environment more secure, I don't want to change it to accept all packet in INPUT chain by default. Could you please tell how should I change the iptables setting?

I tried the below， seems

[2018-08-02 09:36] huntergon426 commented on #577
just supplement, the above is changing within the attack.sh file

[2018-08-02 11:43] deltaxflux commented on #577
Well, kind of weird because it works for me and I test this on different machines. Anyway I will take closer look at the iptables rules because @rad4day has changed these recently.

Maybe @rad4day can take a closer look at this. If not I will do it.

Regards,

deltax

[2018-08-02 17:49] rad4day commented on #577
@huntergon426
I think I've found the issue. It seems like sport and dport are confused at lines 1187 and 1188 in attacks/Captive\ Portal/attack.sh

The whole iptables management is somewhat messy in the source at the moment. I'll take a look at this. But as my notebook is not functional atm and I'm pretty busy with exams it'll probably take me some time.

Also I'm pretty sure that in your example

[2018-08-02 17:59] rad4day commented on #577
The PR in which I introduced changes to the iptables: #444

Those changes have been reverted as it seems to have broken the DNS script at that time.

[2018-08-03 01:44] hieutrandn9889 commented on #578
Hello @rad4day ,

I have just updated, upgrade + installed git. But it still display and doesn't work.
How to view log when starting this tool ? I want to show you the log when running it

[2018-08-03 03:32] huntergon426 commented on #577
@deltaxflux @rad4day , thank you guys, it works perfectly now.

[2018-08-03 05:38] #577 closed

[2018-08-03 10:29] lordxiniog opened #579 "Stuck at Starting Captive Portal access point service..."
### Bug Report

#### Summary
Cannot get Fluxion starts the Captive Portal AP, it always gets stuck at that step of the attack.
I know this issue has been treated many times, but I've been unable to solve and that's why I'm asking for your help.

##### What is the current behaviour?
Stuck at this point (for ages...)
<img width="869" alt="captura de pantalla 2018-08-03 a las 11 35 17" src="https://u

[2018-08-03 11:31] usama7628674 commented on #579
@lordxiniog Maybe you will get luck with [this](https://github.com/v1s1t0r1sh3r3/airgeddon) tool.It has many features including evil twin method like fluxion.

[2018-08-03 14:22] ZiedHf commented on #579
I'm facing the same issue, it's stuck there for decade and freezes the system. I'm using the latest Fluxion version on Ubuntu 18.04, Dell n5110 computer.

[2018-08-03 14:53] usama7628674 commented on #579
@ZiedHf Run the diagnostic script and paste the output here.

[2018-08-03 15:07] deltaxflux commented on #579
@usama7628674 please stop commenting you don't have any idea. I'm pretty sure this is a driver problem and additional this issue could be connected that you use Ubuntu. In like 3h I'm back at home and I will run this in a VM. Let's see

[2018-08-03 15:22] deltaxflux commented on #579
Please try to restart the lighttpd, please read #577

[2018-08-03 15:31] usama7628674 commented on #579
@deltaxflux I just commented cuz I've read people having luck with airgeddon that does support some realtek chipsets and yes I know about ubuntu stuff.

[2018-08-03 15:39] rad4day opened #580 "DNS spoofer not starting on systems with systemd-resolved enabled (e.g. Ubuntu 18.04)"
### Bug Report

#### Summary
systemd-resolved binds to 127.0.0.1:53 which colides with 0.0.0.0:53 of the dns script.

##### What is the current behaviour?
DNS daemon does not start. The XTerm window never appears.

#### How to reproduce
Try to run captive portal with systemd-resolved running and bound to port 53

##### What do you think the expected behaviour should be?
shutdown systemd-resolved a

[2018-08-03 15:41] rad4day commented on #579
@ZiedHf @lordxiniog couldn't replicate your exact issue but found some other problems with ubuntu / systemd-resolved.

[2018-08-03 16:35] lordxiniog commented on #579
Thanks for the suggestion, @usama7628674. I'll give it a try.
Thank all of you meanwhile.

[2018-08-04 03:57] huangzonghao opened #581 "Cannot find any wifi AP?"
I am running the latest fluxion on master(0acbfeb) on a ubuntu 16.04 machine. However, when I tried to scan the nearby wifi, there was nothing being found by the script. What am I missing here?

![screenshot from 2018-08-03 23-51-16](https://user-images.githubusercontent.com/8278802/43672292-fe3f2c78-9778-11e8-8adc-74a01491e565.png)

[2018-08-04 07:08] #581 closed

[2018-08-04 09:38] deltaxflux commented on #581
Run the handshake snooper attack first

[2018-08-06 02:51] blshkv opened #582 "split install scripts to a separate install.sh"
Hi, I'm thinking to port this tool to Pentoo (Gentoo) and found some bits of "emerge" commands.
This is NOT how we install things under Gentoo. Tools are not allowed to modify system settings and should not install or download anything on their own. This is a malicious behaviour typically.
It is possible to run "emerge" because there are ebuilds written for all dependencies.
I would like to write

[2018-08-06 17:25] tanderkiel commented on #385
Hello.. Can anyone recommend a compatible card with Fluxion that supports 5 ghz?

I have the 036nha that works perfect on 2.4 but I can not perform efficient audits because it does not support 5ghz.

I can also get the Awus036ach but I read that it does not work well with Fluxion.

thanks

[2018-08-07 06:53] deltaxflux commented on #579
Yeah, definitely a bug. Fixed in futher releases.

[2018-08-07 06:56] deltaxflux commented on #580
Thank you for your investigation.

[2018-08-07 06:56] #582 closed

[2018-08-07 06:59] deltaxflux commented on #582
Well the installer is already split in multiple parts / files.
The core: `lib/installer/InstallerUtils.sh`
Gentoo specific: `lib/installer/managers/emerge.sh`

Please submit a pull request with your changes or request a improvement. I didn't use gentoo.

[2018-08-07 13:16] blshkv commented on #582
ok, do not call any of these scripts from the main fluxion.sh It is that simple.

[2018-08-07 13:26] rad4day commented on #582
We could probably include another function which checks if it should ask to install those automatically, and then just override the Gentoo handler with "do nothing and tell the user that something is missing".

Yes, it is "malicious" behaviour to install dependencies automatically. Still, for ease of use we included this feature and will most likely keep it, as fluxion is not really supposed to be

[2018-08-07 13:42] blshkv commented on #582
@rad4day I wasn't until the issue was closed and I have been told to "go far away" and do it myself.

I understand that the tool is new and not ready to be installed as a system tool yet. But you need to redesign it to a more "traditional" structure if you intend it to be distributed by linux distro by default.

[2018-08-07 14:45] minanagehsalalma opened #584 "Scenario asks user to push the WPS button if it is available"
I Have already feedbacked this  to wifiphisher and they added it in great way ..... but i also love to see it in your  tool.... as i get more satisfaction with ........... and it's more stable and  has more success ratio than it
[https://github.com/wifiphisher/wifiphisher/issues/494](url)
can we see it in your tool ?

tbw

[2018-08-07 22:40] kocheko opened #585 "Starting Captive Portal access point service LATEST FLUXION"
well i made a video so it is easier to show what happen with the computer when i try to start a captive portal...
[https://www.youtube.com/watch?v=6xbK1aeo1kg](url)

i must say i tried many other options like no ssl or whatever , but i dont know where is the problem because,  as crazy as it sound, i try reinstalling kali linux from scratch , it take a lot of time when you dual boot and also not li

[2018-08-08 08:35] rad4day commented on #585
It's the same problem which was mentioned in #579 which I couldn't reproduce yet.

Can you tell me which kali version this is and exactly how you obtained it? Installation? 2017 dist-upgrade?

To get an old version you can use `git checkout commithash` the commithash you can obtain from the releases tab on github, or you go on code and then on history.

[2018-08-08 08:35] rad4day commented on #579
Seems to not be fixed in 5.0

[2018-08-08 09:10] usama7628674 commented on #585
@kocheko If the chipset uses `ath9k` driver then you can't fix it as there is bug introduced in kernal 4.15 to onwards.

[2018-08-08 09:12] usama7628674 commented on #585
After fluxion gets stuck execute `dmesg` on terminal and look for red lines.Again if you're using adapter that uses 'ath9k' driver.

[2018-08-08 09:29] kocheko commented on #585
So the problem is not fluxion and i have to install an old version of kali but offline so it wont update kernel, right?? Or what do i need to make this work again like before?

[2018-08-08 09:32] kocheko commented on #585
execute dmesg:

![img_20180808_062419](https://user-images.githubusercontent.com/42158920/43829206-c686ea32-9ad4-11e8-8083-7054f76c5faf.jpg)
![img_20180808_062644](https://user-images.githubusercontent.com/42158920/43829207-c6ad532a-9ad4-11e8-899a-49c387538933.jpg)

[2018-08-08 09:40] usama7628674 commented on #585
@kocheko You can still update packages but don't upgrade kernal.Just download kali 2018.1 and install.It comes with kernal 4.14 which is the last working kernal version with fluxion.

[2018-08-08 09:44] kocheko commented on #585
ok i will do this right now and ill come back and eventually close

[2018-08-08 11:26] rad4day commented on #585
This is actually pretty interesting. Is this a problem only in the kali/ubuntu kernel or also in the mainline linux kernel on [kernel.org](https://kernel.org)?

[2018-08-08 12:04] kocheko commented on #585
Im downloading kali 2018.1 but ive found some pci wireless card from old laptops...maybe someone can say me if it will work with kali and if it does, how to install the driver after i replace it

One says:  atheros wll6160-d99
The other one: broadcom bcm94312mcg

[2018-08-08 12:24] usama7628674 commented on #585
@rad4day I think the bug is in mainline linux kernal.You can track it here https://bugzilla.kernel.org/show_bug.cgi?id=199985

@kocheko Just plug it in slot and it'll auto detect it.

[2018-08-08 12:38] lordxiniog commented on #579
I was able to find out the password cracking the .cap file using Airgeddon (actually, I think I used aircrack, but am not sure) and a dictionary, though.
But it would be nice that it were solved in further versions.

Thanks to all the developers by the way.

[2018-08-08 12:40] usama7628674 commented on #579
@lordxiniog So you didn't use evil twin method of airgeddon.

[2018-08-08 16:51] lordxiniog commented on #579
@usama7628674, Indeed I tried, but I got some errors as well (I can send you screenshots if needed, though I don't think this is the appropriate channel to do so).

However, I did use the Offline password tool recovery from Airgeddon to get the pass.

[2018-08-08 20:38] PonasKovas opened #586 "Mdk3 doesnt work when fluxion is up"
Hi I am using kali linux (the newest) and when I start Fluxion 5, everything works fine, except for the AP Jamming. It shows " Periodically re-reading blacklist/white list every 3 seconds", but I dont get kicked out of the AP. However, if I try mdk3 alone it works perfectly. I also tried to close the AP jamming window on fluxion and then do the jamming mannually, but the fluxwl0v interface throws

[2018-08-08 20:41] rad4day commented on #586
Can you give us the output of the `scripts/diagnostics.sh` please?
Also what kind of errors are being thrown? This is really important to diagnose the problem

[2018-08-09 00:30] the-curi0us opened #587 "Problem with the AP Host Fake"
Hello, recently I downloaded Fluxion 5.0 in Wifislax 4.12 FINAL x86 and I have a small problem and that is that when you start the Captive Host Ap this does not disconnect the victim correctly. This causes the fake open AP to not appear correctly. This happens after I select the language of the Fake

### The error is as follows

`/root/Descargas/fluxion-master/attacks/Captive Portal/attack.sh: lín

[2018-08-09 06:15] PonasKovas commented on #586
`scripts/diagnostics.sh` output:

[code]
Then if I run this when fluxion is running:
[code]

Then I start getting `handle_probe_req: send failed` in the Fluxion AP Service [hostapd] window.
If I try the `mdk3 fluxwl0 d xx:xx:xx:xx:xx:xx`, then I dont get any errors, but I dont get kicked out of the AP too.

[2018-08-09 07:00] PonasKovas commented on #586
Update:
I have updated my mdk3 from https://github.com/aircrack-ng/mdk3.
Now my AP Jammer window shows something like this:
[code]
And now I actually do get kicked out of the AP, but only once, then I can freely connect again. And it looks like the window freezes. The last line (`Packets sent:     x - Speed:   x packets/sec`), keeps changing the numbers, but I don't get any more `Disconnecting` me

[2018-08-09 07:48] PonasKovas commented on #586
Now it looks like I dont get disconnected even once. Also, I tried to jam manually using `aireplay-ng`, it says that `fluxwl0` is on channel -1 and doesnt work, but as soon as I close Fluxion, it starts working perfectly.

[2018-08-09 10:14] PonasKovas commented on #586
Now I know that I have been using mdk3 command incorrectly, now I use it like this `mdk3 fluxwl0 d -b blacklist.txt`. The results are the same.
Also I know why `fluxwl0v` threw errors. It is the AP interface, with `master` mode.

[2018-08-10 09:32] PonasKovas commented on #586
I monitored the fluxwl0 interface with wireshark, and it captured the deauth and diassociation packages, but my phone still doesnt disconnect. It looks like the virtual interface doesnt work. Can anyone please point me to the location where the interfaces are created so I can take a look?

[2018-08-10 12:37] rad4day commented on #587
Seems like wifislax is not using systemd.
Seems like around 1425 we check for a running network manager and stop it with systemctl.
If you make sure that no network-manager is running at that time, the script should still work, I guess.

[2018-08-10 14:33] spphinslove commented on #586
same errors with 5.0 and 4.1 version
I run fluxion on parrot
#### FLUXION Info
FLUXION V5.0

#### BASH Info
GNU bash，版本 4.4.23(1)-release (x86_64-pc-linux-gnu)
Copyright (C) 2016 Free Software Foundation, Inc.
许可证 GPLv3+: GNU GPL 许可证第三版或者更新版本 <http://gnu.org/licenses/gpl.html>

本软件是自由软件，您可以自由地更改和重新发布。
在法律许可的情况下特此明示，本软件不提供任何担保。
**Path:** /bin/bash

#### Interface (wlan0) Info
**Device**: phy0
**Dri

[2018-08-10 14:36] spphinslove commented on #586
when fluxion is running
mdk3 [device] d -c X
will show nothing

[2018-08-10 14:41] PonasKovas commented on #586
Turns out I get disconnected when the evil twin starts, and the window doesnt say that it disconnected me. Then when I reconnect, window starts saying that it is disconnecting me, wireshark captures many packets, but I dont get disconnected again.

[2018-08-11 00:05] rickjr opened #588 "Freeze Captive Portal of adapter AWUSO36AC"
Hello, it's very simple, I realize that only happens with the RTL8812AU drive, I'm trying to make an attack and hangs on the captive portal .... it seems to me that it is not possible to do the Access Point
Distro: 4.17.0-kali1-amd64 # 1 SMP Debian 4.17.8-1kali1 (2018-07-24) x86_64 GNU / Linux
Installation: Git
Adapter: Alfa AWUSO36AC

[2018-08-11 09:54] H4xl0r opened #589 "router.sh missing ?!"
### Bug Report

#### Summary
The router.sh script is missing under /scripts ...

##### What is the current behaviour?

#### How to reproduce
.....
##### What do you think the expected behaviour should be?

Router.sh cloning my router login

[2018-08-11 10:09] spphinslove commented on #586
I download and install new version from  https://github.com/aircrack-ng/mdk3.It also show nothing.

[2018-08-12 20:26] KaliMalibu opened #591 "Raspberry Pi & Fluxion problems"
### Bug Report

#### Summary

Hi,

I use Raspbbery Pi 3B+ with Alfa AWUS36NHA adapter for OS is used Kali and SW Fluxion 5.0
I control it from VNC.
When I do handshake snooper all works like a charm, jamming and also can get handshake.
But when I try to set up captive portal, I lost VNC connection because wireless card build in to Raspberry lost connection.
For interface for target tracking i sele

[2018-08-13 06:10] deltaxflux commented on #591
Yeah, this is definitly a problem. Instead of killing all wireless interface cards, we should just kill the used card.

[2018-08-13 06:11] deltaxflux commented on #589
Thanks for catching, I will upload and rewrite the script today.

[2018-08-13 06:12] deltaxflux commented on #588
Please fill out the issue template.

[2018-08-13 06:13] deltaxflux commented on #584
This could be an enchantment.

[2018-08-13 06:14] deltaxflux commented on #587
Yeah, thanks for catching.

[2018-08-13 06:16] deltaxflux commented on #586
Yeah this is a driver problem. Maybe we should include a option for a secound interface.

[2018-08-13 06:16] #585 closed

[2018-08-13 06:17] deltaxflux commented on #585
Seems like this issue is resolved.

[2018-08-13 20:46] #580 closed

[2018-08-13 20:46] #579 closed

[2018-08-13 20:46] #588 closed

[2018-08-13 20:46] #587 closed

[2018-08-14 18:55] the-curi0us opened #595 "Error al iniciar el AP Fake Host"
### Bug en el AP Fake Host
I changed a Linux Kali (kali2-amd64 # 1 SMP Debian 4.15.11-1kali1 (2018-03-21) x86_64 GNU / Linux)
Since with wifislax 4.12 this was another error and it was previously reflected, so I can see that little bug was repaired.
Now when the AP Host Fake starts it does not throw any error in the main terminal (where "/fluxion.sh" is executed) but in which it opens the Script (

[2018-08-14 19:28] deltaxflux commented on #595
Ok first check which version you running on. Secound post the output of the diagnostic script and share results.

[2018-08-14 23:16] the-curi0us commented on #595
### System and Error data
They are the only windows that will open and the system information.
Important: It is NOT a virtual machine, but it is installed on a 50 GB partition of the main hard disk
**Here are some images**
![snap1](https://user-images.githubusercontent.com/42224150/44123465-18b5adb6-9fee-11e8-863a-d2511cf15e5f.png)
![snap4](https://user-images.githubusercontent.com/42224150/441234

[2018-08-15 17:35] deltaxflux commented on #595
Please follow the instructions I gave you:
* print the version of fluxion version
* run the diagnostic script

[2018-08-15 18:52] RubenPOR opened #597 "High CPU usage running the script, and captive portal issue."
#### Support Question

I recently uploaded to this new version of fluxion, the previous 0.23 rev 44 and 2 rev 9 are working fine.
I am experiencing two issues:

1 - After the "evil twin" starts, one of my CPU cores is running at 100%. I have no clue why.

2 - If I only use my alfa network card, after I connect to the "evil twin" it doesn't load the captive portal. (If I use my internal wifi card f

[2018-08-15 21:05] the-curi0us commented on #595
### Script Diagnostic
#### FLUXION Info
[code]

[2018-08-16 08:36] M1z23R opened #598 "Installing dependencies after v5"
It seems something broke the dependency installer after getting fresh fluxiom on a fresh OS.
I am on a Raspberry Pi 3 using raspbian, for some reason dependency check doesn’t pop up and it won’t install dependencies, I’ve tried running installer script from lib folder but also without luck.

[2018-08-16 09:44] deltaxflux commented on #598
Yeah, I disabled this in the last commit. Run fluxion -i to install all dependencies.

[2018-08-16 09:44] #598 closed

[2018-08-16 20:50] deltaxflux commented on #595
apt-get install hostapd

[2018-08-16 20:57] joentpn commented on #397
#### FLUXION Info
FLUXION V5.2

#### BASH Info
GNU bash, version 4.4.23(1)-release (x86_64-pc-linux-gnu)
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>

This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
**Path:** /bin/bash

#### Interface (wlan1) I

[2018-08-16 21:00] joentpn commented on #397
when connecting to the fake AP without a password, it is not possible to establish a connection, when it connects, the password request page does not appear for verification. Can someone help me?

[2018-08-16 23:57] voltaire1694 commented on #385
I have an Alfa AWUS036ACH 2.4 & 5 Ghz on order, and it appears to be highly recommended by Kali.  My intention is to run fluxion on two PCs simultaneously.  One will jam and run captive AP on 2.4GHz band and the other will jam only on the 5GHz band.  I haven't figured out if Fluxion will let me do the 5GHz jam-only function.  If not, then I'll be submitting it as a feature request.

[2018-08-17 00:05] voltaire1694 commented on #385
Now that I think about it, if the 5GHz AP being targeted for jamming does channel hopping in the 5GHz band, does this mean I will need 2x 5GHz adapters: one to monitor the hops and one to jam?  Grateful if someone could please confirm.  Voltaire1694

[2018-08-17 00:15] voltaire1694 commented on #385
One additional note: It looks like if one does not need to "host" a captive AP on the 5GHz band, but merely wants to jam clients and force them to the 2.4GHz band, one might be able to use wifijammer-ng for the 5GHz band jamming and (on a 2nd PC) run fluxion for the 2.4GHz AP + jam attack.  Has anyone tried wifijammer-ng for this type of dual-band approach?

[2018-08-17 00:45] the-curi0us commented on #595
### Problem solved

**Thank you very much, now the Ap Fake is running correctly, but there is another problem that I will publish as a new one;)**

[2018-08-17 00:51] the-curi0us opened #599 "DHCP does not start"
### IP is not granted to the victim

Previously, the DHCP server started together with the other tools and now does not start, therefore, when a device connects to the fake AP, it does not provide an IP address, therefore, the connection is not established with the device. As a result, the victim can not enter the password and only loses his connection foolishly

[2018-08-17 00:52] #595 closed

[2018-08-17 06:51] mayankmetha opened #600 "support rtl8812au"
please add support for rtl8812au

[2018-08-17 14:43] H1Andel opened #601 "AWUS1900 with Kali on Raspi - no handshake captured"
#### Support Question
* Sorry, not familiar with Discord or Gitter. Have looked at a number of issues but to no avai.

 I thought I had the AWUS1900 working but there seems to be no handshake captured.  Ran the diagnostic script. The "Chipset is not in list"seems a bit alarming although I'm not sure what it means.

Is this a driver issue  of am I doing something wrong?

Running Kali on RasPi

####

[2018-08-17 14:45] deltaxflux commented on #601
Please run fluxion -i first.

[2018-08-17 14:47] H1Andel commented on #601
Will do & get back to you.

[2018-08-17 14:56] H1Andel commented on #601
Works now ! Thanks a millions.

[2018-08-17 15:16] #601 closed

[2018-08-17 19:58] M1z23R commented on #598
Thanks a lot, wasn't really paying attention to changes.

[2018-08-18 07:34] mrn1992 commented on #411
did u find anything?

[2018-08-18 13:05] kairosee opened #602 "PHONES CANNOT CONNECT TO THE EVIL TWIN SERVER"
Ive tried to pen test my network and android phones cannot connect to the twin ap created by flux

[2018-08-18 13:16] #602 closed

[2018-08-19 01:31] usama7628674 commented on #600
@mayankmetha The next release of airmon will have support for this driver.You can read here
https://github.com/aircrack-ng/rtl8812au/issues/93#issuecomment-414074458
If you really want this driver to work even without airmon support consider using airgeddon.

[2018-08-19 03:46] kairosee commented on #602
so i need two adapters to make it work? unlike the previous version?

On Sat, Aug 18, 2018 at 9:16 PM rad4day <notifications@github.com> wrote:

[2018-08-19 09:41] deltaxflux commented on #600
To improve the understanding. The chipset seems like to be supported by aircrack. However, this patch not included.

And this is the point. It is not a problem with fluxion autem with aircrack-ng. So this wrong.

Because this issue is not related to fluxion I will close this issue.

[2018-08-19 09:42] deltaxflux commented on #599
Can you please post the output of the diagnostic script?

[2018-08-19 09:44] deltaxflux commented on #385
5ghz support is now supported. Deauth and ap works. I submit this patch as soon as I can confirm that this is stable.

[2018-08-19 09:47] deltaxflux commented on #597
Hey, I can't confirm this issue. In general the script is completly rewritten but there should be no performance issues. Please run fluxion with debug output:
`./fluxion -d`

Lets see if there are some interesting errors.

[2018-08-19 09:55] deltaxflux commented on #602
Please fill out the issue template first.

[2018-08-19 14:12] RubenPOR commented on #597
Thanks for helping deltaxflux.

Debug mode produces no on screen errors. Is there a log I can post?

The problem (100% CPU usage in one CPU core) also occurs when using handshake snooper, even in passive mode. The Handshake captor window (airodump), despite saying fixed channel fluxwl0: the channel is not fixed, it is jumping channels and both beacons and Data increment slowly.

No matter what car

[2018-08-19 15:35] the-curi0us commented on #599
Yes, missing packages, thanks to the new version of Fluxion (5.4) I got the list of missing packages. At the moment there is no Bug ;)

[2018-08-19 15:38] #599 closed

[2018-08-19 23:15] the-curi0us opened #603 "Change of Domain and SSL of Let's Encrypt"
|    Q        |   A
|------------ | -----
| Fluxion      | 5.4

#### How can I change the Domain (captive.gateway.lan) to (mydomain.com) and in turn is Fluxion compatible with the Let's Encrypt SSL certificates of 4000 bits?
I would like to know how to change the domain that is by default (captive.gateway.lan) in mine (mydomain.com) since I recently tried to find the code of Fluxion and I have not

[2018-08-19 23:52] the-curi0us commented on #603
I have a certificate and I can not make Fluxion detect it, what route, format or name should I put / place?

[2018-08-20 09:33] deltaxflux commented on #603
This is against terms so I closing this for now.

[2018-08-20 09:33] #603 closed

[2018-08-20 11:53] #385 closed

[2018-08-20 11:54] #600 closed

[2018-08-20 12:00] deltaxflux commented on #597
Sounds like something is messed up. As I mentioned I can't reproduce this issue. I monitor fluxion using htop/top but I don't have the same results. The only idea I have is that it could be something with drivers. Why?
* you said running airodump-ng manually is ok
* which is why I think you driver only partly support virtual interface

And this is strange too

No solution sorry :(
Regards,

[2018-08-20 15:42] RubenPOR commented on #597
When I first tried the new script, I was also thinking it should be an issue with the virtual interface, since it's a new thing when compared to the fluxion versions I've mentioned.

But the problems are also present with the handshake snooper, before a virtual interface is needed or initialized. Could it be something related to way the interface is set into monitor mode? (I don't think so because

[2018-08-21 21:39] the-curi0us opened #604 "Domain change for a custom one"
|    Q        |   A
|------------ | -----
| Version     | Fluxion 5.5

**I would like to know how I can change the domain of the captive page, only that, since I have tried to modify it by a custom one and I have not achieved it since in the part where AP Fake starts, it is executed incorrectly and remains blocked. Would you be so kind as to tell me what line of code should make the change?**

[2018-08-21 22:11] deltaxflux commented on #604
In attack/Captive Portal/attack.sh ~line 293

[2018-08-21 22:11] #604 closed

[2018-08-22 01:25] Tortuga619 commented on #598
I tried downloading dependencies with ./fluxion.sh -i and still wont let me im running linux 18.2

[2018-08-22 09:39] rad4day commented on #598
@Tortuga619 which year do we have? I thought 4.x was the newest

[2018-08-22 09:41] deltaxflux commented on #598
@rad4day He lives properly in the future.

[2018-08-22 12:32] usama7628674 commented on #598
I think he forgot mint after linux.

[2018-08-22 20:08] Tortuga619 commented on #598
Sorry i have kali linux version 2018.2 and i downloaded fluxion and updated it it says its version 5 when i run it am i missjng something??? Im quite a newby

[2018-08-22 20:10] Tortuga619 commented on #598
I downloaded of kalilinux.org for a virtual machine to check it out what would you recommend where i can build all my own apps and dependencies rather than theirs it seems like all the apps are half built???

[2018-08-22 20:11] Tortuga619 commented on #598
And whenever i yry fownloading any missing deppendencies they cant be found?

[2018-08-23 05:26] deltaxflux commented on #598
Well, you can try to launch fluxion -i to install missing dependencies.

[2018-08-23 05:50] Tortuga619 commented on #598
@deltaxflux i tried that and it says E: unable to locate

[2018-08-23 23:58] scarfy000 opened #605 "deauth-ng.py missing"
After selecting the captive portal UI, the AP jammer service throw up the error

Checked /tmp/fluxspace and in fact deauth-ng wasn't there.

I've selected the same interface for both jamming and hosting the AP with hostapd (same using airbase-ng)
The version I was previously using, the 3.11, works flawlessly.
Any idea?

#### FLUXION Info
FLUXION V5.5

#### BASH Info
GNU bash, versione 4.4.12(1)-re

[2018-08-24 05:55] deltaxflux commented on #578
Are you able to install the dependencies manully? Like:
`sudo apt-get install hostapd`

[2018-08-24 05:59] deltaxflux commented on #597
No the handshake snooper use also virtual interface. Which might be the problem here. I don't want to rewrite fluxion because some chipsets doesn't support this. I hope you could understand that. However, I think it is worth to take a look at.

Are you running kali in a virtual box?

[2018-08-24 06:00] deltaxflux commented on #598
Can you please provide screenshots and post on **one** issue.

[2018-08-24 23:43] the-curi0us opened #606 "Increase of manufacturer pages for Mexico"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### New Pages
Hello, deltaxflux. I would like to ask you if you can add some indexes in the Fluxion repositories for the Captive Portal of Mexico, if so, do I leave the download link? or where I send it

[2018-08-25 15:32] TheWebs commented on #605
I also have this problem

[2018-08-26 06:29] monday88 opened #607 "Cannot install missing file."
Dear,
Your fluxion app install missing file say " No internet connection found! ".
If I No internet connection found,  why I can detect online version 5.5 ???
![untitled](https://user-images.githubusercontent.com/35053957/44625448-5260af00-a93c-11e8-926a-e1ccef5b70ed.jpg)

[2018-08-26 08:00] monday88 opened #608 "Please let me know what version linux OS your use?"
Dear Mr/Miss,
Can you let me know what version linux OS your use?
I use this linux OS have problem.
https://www.offensive-security.com/kali-linux-vm-vmware-virtualbox-hyperv-image-download/
Office Kali Linux Vm 64 Bit [Zip]
What version your use?
Now only can use fluxion old version 3.10 with kali linux 2016.2 very stable.
fluxion 5.5 with kali linux 2018.2 cannot use.

[2018-08-26 10:32] usama7628674 commented on #579
@Gvain Yes fluxion throws kernal bug but airgeddon is right.I wonder why?

[2018-08-26 13:39] brutebeer911 commented on #607
Hi All,

I am also encountering this.

Systeminfo:
HW:Asus Nexus 7 2012
OS: Kali Sana 2.0
Kernel: 3.1.10
External ralink 3070

[2018-08-27 09:18] dedetuga opened #609 "fluxion crash when I try create AP"
#### Support Question
hi,
I'm having troubles getting fluxion to work
I successful get the handshake but now I can't get the AP working,
it always crash here when i use with hostapd

[*] Starting Captive Portal access point service...

or

[*] Starting Captive Portal access point service...
[*] Starting Captive Portal access point routes...

![captura de ecra de 2018-08-27 10-51-30](https://user-i

[2018-08-27 09:20] kumyoung opened #610 "Any one can help me.."
|    Q        |   A
|------------ | -----
| Version     | 5.5

#### Support Question
Fluxion 3.11 on my kali Version 3.25.92 is no problem...
Fluxion 5.5 cannot run on my kali Version 3.25.92

#### Specs
Kali Version 3.25.92
Memory 1gb
Processor: Intel® Celeron(R) M CPU 440 @ 1.86GHz
Graphics: Intel® 945GM x86/MMX/SSE2
Base system: Kali GNU/Linux Rolling 32-bit
Disk: 154.9 GB
![screenshot from 201

[2018-08-27 13:12] usama7628674 commented on #609
@dedetuga It's a bug in kernal you can verify it by checking `dmesg` log after fluxion crashes.You can use airgeddon tool if you want to use `ath9k` driver or downgrade your kernal to 4.14.x.

[2018-08-27 19:09] dedetuga commented on #609
thanks for reply, I'm exploring you sugestion

[2018-08-27 19:09] #609 closed

[2018-08-29 23:14] scarfy000 commented on #605
Release 5.6 fixed the issue for me.

[2018-08-29 23:14] #605 closed

[2018-08-29 23:16] scarfy000 commented on #608
Do not use VM.
Try with a regular version.

[2018-08-29 23:28] scarfy000 opened #612 "Pause the evil twin when the AP disappear."
|    Q        |   A
|------------ | ------
| New Feature | yes

Now that fluxion got smart and is able to track the targeted AP, it would be pretty neat if it could get even smarter by pausing the evil twin if the targeted AP disappear.

[2018-08-30 00:10] cgomezmendez commented on #606
You can clone the repo and add then yourself

[2018-08-30 00:11] rad4day commented on #606
If you're not capable of doing so, leave a link here. Somebody will probably add those ^^

[2018-08-30 00:13] rad4day commented on #589
has been fixed in 2b8815b

[2018-08-30 00:15] the-curi0us commented on #606
The indexes that I have already done are already proven, but I want them to be renamed and loaded in the official repository

[2018-08-30 05:49] saintofinternet opened #613 "Just keeps crashing with no results since latest update."
since the last update things seem to have gone haywire... it just does not carry out the tasks as required and keeps crashing... just can't understand why...

|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-08-30 06:02] rad4day commented on #613
From which version did you upgrade to 5.6? As 5.6 has only minor changes in comparison to 5.5

[2018-08-30 06:59] saintofinternet commented on #613
not from the 5.5...i think it was a previous one... 4 i suppose... don't remember not

[2018-08-30 07:08] usama7628674 commented on #613
@saintofinternet Post the result of diagnostic script.

[2018-08-30 20:25] Tortuga619 commented on #578
@deltaxflux so I was having alot of trouble with downloading anything on that distro so I tried it on my other computer im running ubuntu 18.04 bionic beaver on oracle virtualbox on my windows 7 64bit. So I downloaded fluxion 5 rev6 and manually upgraded to the lates aircrack-ng, downloaded cowpatty,rhcp services ,and mdk3 and then downloaded all dependencies through ./fluxion.sh -i  I am using TL

[2018-09-01 03:31] yuginiwa opened #614 "Cannot find device "fluxwl0v""
|    Q        |   A
|------------ | -----
| Version     | 5.6

#### Support Question

[<a href="https://ibb.co/g6ZJxz"><img src="https://preview.ibb.co/nuodxz/Screenshot_from_2018_09_01_11_21_56.png" alt="Screenshot_from_2018_09_01_11_21_56" border="0"></a>](url)

Hi. Can you help me about in this error. Since I update to 5.5 and 5.6 fluxwlOv cannot find. I'm using Fluxion 3 before and there no pr

[2018-09-01 10:05] H4yseed commented on #607
Hi guys, same problem here and I'm on this system:

Gnome version 3.28.0
Memory 7.7 GO
Proc Intelcore i5 @ 2.40 Ghz
Grafic card: Geforce GT540M
OS: Kali GNU/Linux Rolling
64 bits

[2018-09-01 16:07] Pinkhax commented on #291
Can you hell me with

[*] success, hash verification completed!
[*] Starting Captive Portal access point service....

It stuck right there.

[2018-09-01 16:28] Tanuj69 commented on #614
Facing the same issue

[2018-09-01 16:28] Tanuj69 commented on #614
React to my comment to ping me if solution is found

[2018-09-01 16:40] brutebeer911 commented on #607
i already figure out my prob.. i used sudo.. sudo ./fluxion.sh -i ..

already install proper pre req.. but it jump to choose SSID with mixedup characters in text step rather than choosing "captive portal" or "handshake snooper".

Thanks for replying dev master.

[2018-09-02 01:31] usama7628674 commented on #291
@Pinkhax Please post the output of diagnostic script.

[2018-09-02 09:36] deltaxflux commented on #607
Can you please provide screenshots

[2018-09-02 13:43] deltaxflux commented on #291
Yeah and please open a new issue.

[2018-09-02 13:44] deltaxflux commented on #607
and open a new issue.

[2018-09-02 13:44] deltaxflux commented on #614
Yeah I will take a look at this now sorry for the delay.

[2018-09-02 13:48] deltaxflux commented on #606
Post a download link and I will take a closer look.

[2018-09-02 13:51] deltaxflux commented on #589
It is not fixed.

[2018-09-02 13:52] #608 closed

[2018-09-02 13:52] #607 closed

[2018-09-02 13:54] deltaxflux commented on #610
I think your kali is broken, please check if it is running on the latest kali version.

[2018-09-02 13:54] #610 closed

[2018-09-02 17:33] deltaxflux commented on #614
Maybe deleting attacks/Captive Portal/attack.conf could help.Try it.

[2018-09-02 20:28] the-curi0us commented on #606
You're welcome

[2018-09-03 14:42] rimscky opened #615 "issue solved-----------------------------------------------"
nah sorry i solved this issue

[2018-09-04 00:42] the-curi0us opened #616 "Change redirects to "HTTPS -> HTTP and HTTPS -> HTTP""
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

####Modify the way you redirect
Below are two images in which they contain a schema with the problem or suggestion. It's already explained. ;)
![fluxion redirecciones](https://user-images.githubusercontent.com/42224150/45004333-57170a00-afb1-11e8-839f-a5155bcf43d0.png)
![fluxion](https://user-images.githubusercont

[2018-09-04 00:49] the-curi0us commented on #612
Y también si el Módem cambia de Canal, no sigue atacando un algo que no existe ya que no logramos desconectar a los clientes de manera correcta

[2018-09-04 00:49] the-curi0us commented on #612
And also if the modem changes channels, it does not keep attacking a something that does not exist since we can not disconnect the clients correctly.

[2018-09-04 01:28] monday88 commented on #608
@scarfy000
I use very stable version is fluxion v3.10 with kali linux 2016.2.
This version very very stable.
VMware is office version I sure no problem.

[2018-09-04 01:58] demecoandrea commented on #597
I'm having the same issue: one core is working at 100% (25% load on a quad-core).
Task manager says that airmon-ng is the CPU sucker (constant 25% cpu load).

I'm using Fluxion 5.6; previously I used Fluxion 2.9 and it worked well, without CPU overloading.
I'm on Ubuntu 16.04 persistent usb  (yeah, i know, I should use the new kali... i'm lazy; but i don't think this is the direct problem..)

Netw

[2018-09-04 04:45] rad4day commented on #597
Linux handles the Load indicator a little different than windows. 0.25 represents 1 core utilized to 25%
All cores at 100% would be 4.0 in your case.

[2018-09-04 05:11] #615 closed

[2018-09-04 12:03] deltaxflux commented on #614
Fixed?

[2018-09-04 13:55] Tanuj69 commented on #614
Yeah it is fixed

[2018-09-04 17:14] #614 closed

[2018-09-04 21:07] the-curi0us commented on #616
What is needed is to modify the code so that the redirects do this "HTTPS -> HTTP and HTTPS -> HTTPS" because the pages that the user always looks for or the majority is HTTPS and if an HTTP page is needed, the redirection could not complete and the attack will not succeed, all this if the victim only has computers, in Android and IOS there is no such problem since both in a pop-up window and in a

[2018-09-04 21:17] rad4day commented on #616
You can't just redirect HTTPS traffic without a valid certificate for the domain used. Would be way to easy if it was possible :(

So we are not able to redirect HTTPS pages to the captive portal without the "invalid certificate" warning in the browser.

[2018-09-04 21:28] the-curi0us commented on #616
The certificate I have is valid, but what I want to suggest is that it is necessary that HTTPS URLs are redirected to HTTP, because if the pages are redirected from HTTP to another HTTP and the victim places the following "https://youtube.com" you can not redirect and you need to place, for example, "http://eshost.com.ar" to be redirected, tell me who collects http pages to verify if you have a co

[2018-09-04 21:28] the-curi0us commented on #616
I do not request that traffic be sent to HTTPS, but that HTTPS traffic be redirected to HTTP

[2018-09-04 21:32] rad4day commented on #616
that would also require a 30X redirect directive, which needs a TLS session to be established beforehand and therefore is not possible

[2018-09-04 21:43] the-curi0us commented on #616
This redirect code is compatible or only for hosting .htaccess?
It is supposed to redirect from HTTPS to HTTP
[code]

[2018-09-04 21:58] the-curi0us commented on #616
How could they be translated?
[code]
Ejemplo 2 - url específico
[code]
It also works the other way around (https -> http) with if $ HTTP ["scheme"] == "https"
I'll see if I can evade the error and redirect HTTPS to HTTP

[2018-09-05 21:35] the-curi0us commented on #616
Bye

[2018-09-05 21:35] #616 closed

[2018-09-06 03:14] anuselesscharacter commented on #579
Having same issue in latest release.

[2018-09-06 05:26] usama7628674 commented on #579
@anuselesscharacter Use airgedon tool

[2018-09-06 09:47] anuselesscharacter commented on #579
@usama7628674 bro that's not the comment I expected.

[2018-09-06 11:36] deltaxflux commented on #579
Ok, I will take a look on it. You tried fluxion 5.6 ?

[2018-09-06 12:30] demecoandrea commented on #612
I think this is a great idea, I've been searching for this, because I have a router with autoswitch channel, and the attack stops working

Actually I discovered that it is possible to restart the attack, I made a little edit in the function
fluxion_conditional_bail (row 413)
I commented the line read -r bullshit, added a sleep 5 (just in case..) and then the attack is restarted on the right channe

[2018-09-06 12:36] anuselesscharacter commented on #579
yes.

[2018-09-06 14:05] vlldk commented on #612
That’s why you would want an extra network card for target tracking

[2018-09-06 15:06] demecoandrea commented on #597
@rad4day yeah sorry, I wasn't clear, but I'm sure we're saying the same thing.. 1 core working at 100%; anyway that's not the point xD

the attack can last hours, so I don't want my laptop to run that load for so long, so for the moment, I added a "sleep 20" into the while-true that calls the airodump-ng (line ~1362)
this way the CPU load should be reduced by 2/3 .. (the monitorTimeout is set to 1

[2018-09-07 04:30] eeo1122 commented on #329
Wouldn't targeting also keep the routers intrusion detection from triggering a channel hop or some other type protection?

[2018-09-07 08:38] peterlymo opened #617 "cowpatty broken"
seems cowpatty is not available in the Ubuntu repository anyway there is documentation on how to use this tools?

[2018-09-07 08:40] deltaxflux commented on #617
Source is here: https://github.com/roobixx/cowpatty
[code]
All information can be found here: https://tools.kali.org/wireless-attacks/cowpatty

[2018-09-07 08:40] #617 closed

[2018-09-07 08:41] deltaxflux commented on #597
Yeah sounds for a solution for you. I may add a variable for that.

[2018-09-07 08:41] #597 closed

[2018-09-07 12:37] waidoshoruda opened #618 "Page check.php is broken?"
Fuxion 5.6

Hi,

in Captive Site attack page check.php is broken? The page doesn't validate any WIFI password, even the correct WIFI password.

I used the generic Captive Site released with fluxion.

Thanks.

[2018-09-07 14:36] deltaxflux commented on #618
Ok sounds weird. I never changed any since fluxion 4.10.

[2018-09-07 19:42] waidoshoruda commented on #618
How i can help you to help me?

Thanks.

[2018-09-10 16:56] Jezza-x3 opened #619 "Can't use due to xdpyinfo being unavailable."
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

Did 'cd ~/fluxdir/bin/arch' then 'makefile -si' then got this

makepkg -si
==> Making package: fluxion-git r24.75353f7-1 (Mon 10 Sep 2018 12:52:35 PM EDT)
==> Checking runtime dependencies...
==> Checking buildtime dependencies...
==> Retrieving sources...
  -> Cloning fluxion git repo...
Cloning into bare rep

[2018-09-10 17:04] strasharo commented on #619
I'm not familiar with Manjaro, but if it's based on Arch I guess you should try installing the xorg-xdpyinfo package.

[2018-09-11 01:24] Black-RTX opened #620 "starting captive portal access point service..."
after Extracting the handshake and make Fake AP and Choose language
This sentence appears
starting captive portal access point service...
and the computer starts to freeze.... I can not control anything other than re
![new](https://user-images.githubusercontent.com/42094275/45332649-21a28b80-b572-11e8-9e10-4a2ef97c968d.png)
starting it
how to fix it ?

[2018-09-12 08:50] usuarionuevor opened #621 "cannot access 'language': No such file or directory"
- Kali Light 2018.2
- Fluxion 5.6

problem:
![img_20180912_103549210](https://user-images.githubusercontent.com/35457371/45413337-33228b00-b679-11e8-958c-39029c3c51ba.jpg)
can't select any language so its stuck there.

I checked and language folder is there with its 16 .sh language files inside, I downloaded fluxion again just to be sure but same result.

[2018-09-13 07:15] thxqua commented on #620
Got this problem also

[2018-09-13 07:32] thxqua opened #622 "Fluxion see wlan card but can not scan"
I can see and selected the wlan card but when i am scanning AP, fluxion is not working anymore. This on serveral laptops.

[2018-09-13 08:06] UserManger opened #623 "Everything is ok, but can not scan the AP"
hello, the hostapd service and dhcpd service is ready ,  but my iphone can not scan the softAP

[2018-09-13 13:39] Black-RTX commented on #620
need fix

[2018-09-16 12:26] strasharo commented on #623
Contact Apple.

[2018-09-16 12:26] #623 closed

[2018-09-16 12:26] #622 closed

[2018-09-16 12:34] usama7628674 commented on #620
@Black-RTX @thxqua Please post the output of diagnostic script.

[2018-09-17 09:10] UserManger opened #624 "my iphone can not scan the softwifi signal"
![fluxionbug](https://user-images.githubusercontent.com/11323990/45614440-1f718d00-ba9c-11e8-99f6-bb8841c2af2b.png)
hello, every model is ready you can see, but I can not find the softAP!!

[2018-09-17 09:12] UserManger commented on #624
I can't solve this problem; it's too difficult for me.

[2018-09-17 09:12] UserManger commented on #624
I can't solve this problem; it's too difficult for me. could you please help me？

[2018-09-17 09:16] UserManger commented on #624
And the ap witch be attacted is working well

[2018-09-17 09:49] UserManger commented on #624
And the ap witch be attacted works well

[2018-09-18 21:51] the-curi0us commented on #621
Download the git again and do not change the name of the folder when executing the script, just go directly to the directory and from the same execution ./fluxion and avoid doing it (./root/Documents/tu/folder/fluxion.sh) because no will start correctly;)

[2018-09-18 21:54] #621 closed

[2018-09-18 21:55] #624 closed

[2018-09-19 03:01] the-curi0us commented on #620
This happens when a file is modified within the code line, but if you have not modified it, you must download the version of fluxion 4.10 or 5.6

4.10 https://github.com/FluxionNetwork/fluxion/archive/v4.10.zip
5.6 git clone https://github.com/FluxionNetwork/fluxion.git

[2018-09-19 03:05] the-curi0us commented on #618
Normally it happens when verifying several WPA key authentications and it is necessary to download them again in version 5.6 or more stable 4.10

[2018-09-19 03:09] the-curi0us commented on #613
In versions 5.4, 5.5 the DHCP and the MDK3 service failed because it did not deactivate the victim correctly or it did not assign an IP, but in the 5.6 it seems to be solved although sometimes it comes a moment because it is not authenticated and you have to download it fluxion again to repair that error

[2018-09-19 03:58] Jezza-x3 commented on #619
@strasharo

I installed that, it works now. Thanks!

I did do "./fluxion.sh" and it didn't install any dependencies. Also, Manjaro is an arch based distro. I figured it would work since it mentioned arch on the readme. Now it is working. Thank you.

[2018-09-20 11:14] Black-RTX commented on #620
Thanks

[2018-09-21 09:14] robinex opened #625 "target? jamming? access point?"
I have 2 wifi adapter. I want ask what is best performance?

target wlan0
jamming wlan0
ap wlan1

or

target wlan0
jamming wlan1
ap wlan1

and this is not working on me
target wlan0
jamming wlan1
ap wlan0

[2018-09-23 15:33] Jezza-x3 opened #626 "Flag "-x" broken/nonexistent."
### Bug Report

#### Summary

typing "fluxion -x" returns an error

fluxion -h AND man fluxion has " -x     Try to run fluxion with xterm terminals instead of tmux."

##### What is the current behaviour?

typing "fluxion -x" returns an error

for version 4.10 it is
`FLUXION V4.10: invalid option -- 'x'
Aborted, parameter error detected...
`

for version 5.6 it is
`FLUXION V5.6: invalid option -- '

[2018-09-23 15:34] Jezza-x3 commented on #626
PS, my network worked the entire time. I even updated the script from 4.10 to 5.6 and it still showed that.

[2018-09-23 22:33] Mikewins1 commented on #620
Same problem here.  After 10 times sometimes it will work.  I have to restart whole computer and always have 3 stop jobs for 10 minutes

[2018-09-23 22:39] Mikewins1 commented on #620
i also just reinstalled it with the link you provided above.  Didnt solve anything  same problem

[2018-09-24 03:03] usama7628674 commented on #620
@Mikewins1 Could you please post the output of diagnostic script ?

[2018-09-24 03:06] Mikewins1 commented on #620
What code do you want me to run?

[2018-09-24 03:08] usama7628674 commented on #620
@Mikewins1 Nanigate to scripts and run `bash diagnostics.sh`

[2018-09-24 03:11] the-curi0us commented on #620
It is necessary to execute this script because if a package is missing we can tell you which one to install, normally in these cases it is the HTTPD

[2018-09-24 03:27] Mikewins1 commented on #620
I got
Usage. /scripts/diagnostics [wireless_interface]

[2018-09-24 03:30] the-curi0us commented on #620
To be able to run the Diagnostic script it is necessary to be in the same directory

[2018-09-24 03:35] the-curi0us commented on #620
Once executed, copy everything that appears in the terminal and paste it here so we can help you

[2018-09-24 03:42] the-curi0us commented on #625
This depends, I can generally recommend that you run as Access Point the one with the most DBI, since it will give the victim the best network and the second one for Jamming.

[2018-09-24 04:13] Mikewins1 commented on #620
I was in CD fluxion/scripts.
That was the output

[2018-09-24 15:43] Mikewins1 commented on #620
root@KALI:~/fluxion/scripts# bash diagnostics.sh -i wlan1

#### FLUXION Info
FLUXION V5.6

#### BASH Info
GNU bash, version 4.4.23(1)-release (x86_64-pc-linux-gnu)
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>

This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent perm

[2018-09-24 16:29] usama7628674 commented on #620
@Mikewins1 After fluxion crashes check `dmesg` log and look for red lines and if there's any of it then post the pic of those red lines.

[2018-09-24 16:33] the-curi0us commented on #620
Depending on the diagnosis, the network interface is not compatible and therefore can not start the services

[2018-09-24 16:35] usama7628674 commented on #620
@the-curi0us I'm talking about `ath9k` driver that was working fine until those injection patches for spectre and meltdown introduced in 4.15 kernal and that's after that fluxion is crashing constantly at same phase.

[2018-09-24 16:46] the-curi0us commented on #620
well I have the kali 2018.2

[2018-09-24 16:49] usama7628674 commented on #620
So you're also afftected if your wireless adapter has atheros chipset.

[2018-09-24 16:59] Mikewins1 commented on #620
So I can only use my Alfa card?

[2018-09-25 17:05] MinePro120 commented on #620
I have this problem too. What's the solution?

[2018-09-25 18:43] Mikewins1 commented on #620
Isn't it better to use 2 network cards? One for the AP and one for the death? I hate having one card do both. Or does it make a difference?

[2018-09-26 02:24] suhailmurad opened #627 "Fake AP create but users not deAuth / only users deAuth but no Fake AP create"
hello guys
i am using Fluxsion in Kali Linux with 1 TPLINK adapter Model no is 722N.
i captured handshake and contt going towards but **sometime my adapter create Fake AP and not DeAuth the users**  OR **sometimes its only DeAuth the users and not creating Fake AP**. 😞
🤔
**i can not understand which adapter creating Fake AP builtin one or external adapter**
i tried many time please need help. 😞
if

[2018-09-26 04:14] the-curi0us commented on #620
I use a W722N and I can place the Jamming service and the fake AP on the same wireless interface
![img_20180925_231123](https://user-images.githubusercontent.com/42224150/46056917-a49e1700-c118-11e8-8fa7-cc807dc66dd7.jpg)
![img_20180925_230958](https://user-images.githubusercontent.com/42224150/46056925-b2539c80-c118-11e8-90ac-6bb726207310.jpg)

[2018-09-28 04:56] Gabo1203 opened #628 "Add sites to fluxion"
Good night, I appreciate the help that may give me. I followed this project as interesting for several months. I would like to know how I can add a new site or captive portal. thanks to whom I can help.

[2018-09-28 08:16] Casper-88 opened #629 "Please support realtek rtl8812au v5.2.20.2 new driver."
Dear Fluxion,
Can you support this rtl8812au v5.2.20.2 Driver?
https://github.com/gordboy/rtl8812au
apt-get update
apt install realtek-rtl88xxau-dkms
I use v5.6 fluxion in kali linux 2018.3,
chip ralink RT3070 fake AP can start,
but relatek rtl8812au fake AP cannot start.
I want use rtl8812au because support 5ghz.

[2018-09-28 15:54] Gabo1203 commented on #606
Good morning, could you help me add a new site that you shared, in my country we have the same manufacturer pages and I do not know how to add it to fluxion.
Thanks for the help you can provide.

Buenos días, podría ayudarme a agregar un nuevo sitio de los que compartiste, en mi país tenemos páginas de fabricantes iguales y no se como agregarla a fluxion.
Gracias por la ayuda que puedas brindar.

[2018-09-28 17:18] the-curi0us commented on #606
Claro, para poder ayudarlo primero descargue las paginas desde el link en el cual tengo proporcionado anteriormente, una vez hecho.
Descomprima el archivo zip con `unzip "Pages FLuxion"`
Situese en el directorio en el cual lo haiga descargado
Luego copie los archivos `/tu/diectorio/fluxion/attacks/Captive Portal/sites` y en sites pegue las carpetas descomprimidas
Vuelva a ejecutar fluxion con `./f

[2018-09-28 17:37] akemesakata6 opened #630 "Connection problem"
### Bug Report

#### Summary

When I create access point,I can't connect access point or load enter password box page.
##### What is the current behaviour?

#### How to reproduce

##### If the current behaviour is a bug, please provide the steps to reproduce it.

##### What do you think the expected behaviour should be?

can connect access point and faster connection
##### If this is a feature req

[2018-09-28 21:33] Gabo1203 commented on #628
Muchas gracias por responder curi0us,  soy de Colombia,  Totalplay es el  sitio que deseo agregar a Fluxion.  En el archivo comprimido que compartiste está ese sitio. He entendido que debo copiarlo en la carpeta a sites.
La duda que aún tengo es que si este mismo sitio funciona en la versión 2 de fluxion, la cual me funciona mejor al momento de capturar el handshake que la versión 5.6.
Gracias por

[2018-09-28 22:52] the-curi0us commented on #628
No, lamentablemente no funciona ya que el codigo no estaba listo para poder utilizarlo en esa versión.
Mas sin embargo es posible intentarlo copiando en la carpeta temporal de Fluxion

[2018-09-28 23:03] Gabo1203 commented on #628
Bueno intentaré con la versión 5.6. Gracias por la información.  Y haré la prueba con la carpeta temporal de la versión 2.
Tienes idea de por qué con la versión 5.6 es más demorado capturar el handshake ?
Y si el handshake obtenido con la suite de aircrack es compatible a la hora de usarlo en fluxion.

[2018-09-29 00:03] mrstrongleg opened #631 "file does not run!"
root@kali:~# git clone https://github.com/FluxionNetwork/fluxion.git
fatal: destination path 'fluxion' already exists and is not an empty directory.
root@kali:~# cd fluxion
root@kali:~/fluxion# ./fluxion.sh
bash: ./fluxion.sh: No such file or directory
root@kali:~/fluxion#

[2018-09-29 00:11] the-curi0us commented on #628
Si el handshake te tarda no es por la versión de Fluxion sino porque no hay clientes conectado en la red a la que deseas enviar el ataque procura siempre que estén conectados los clientes y fíjate si estas atacando en el canal de transmisión correcto no valla a ser que ataques al canal 6 y el modem este en el 11.

[2018-09-29 00:14] the-curi0us commented on #628
Normalmente el cambio de canales es un poco problemático ya que si no te fijas, tu ataque puede que este desconectando a todos de la red víctima por ejemplo en el canal 10 y si el modem automáticamente cambia al canal 6 el ataque estará activo innecesariamente ya que no podrá desconectar a los clientes y recuperaran su red.
Esto pasa debido a que los Módem's de las compañías vienen configuradas qu

[2018-09-29 00:15] the-curi0us commented on #628
Recuerda siempre hacer pruebas en tu propia red así podrás ver lo que estas haciendo.

[2018-09-29 01:03] axware opened #632 "Dhcp issue with Realtek rtl8811au"
I'm using rtl8811au as a AP, everything working even DHCP and showing connected devices with ip but no device able to connect for exp:  in mobile " Obtaining ip" in pc "limited connection"

I used another one (g) as a AP and it was working great.

[2018-09-29 02:02] Gabo1203 commented on #628
curi0us disculpa tanto molestias. Ya el nuevo site me aparece ante la lista de fabricantes. Hasta hay todo bien. Pude capturar el handshake si mucha demora. Ahora el problema es que al momento de crear el portal gemelo, se crea por unos minutos sin permitir la conexión a este, y cerrándose el sistema y dando un mensaje de error. Quiero saber si lo puedo contactar por otro medio y enviarle los erro

[2018-09-29 02:03] Gabo1203 opened #633 "curi0us disculpa tanto molestias. Ya el nuevo site me aparece ante la lista de fabricantes. Hasta hay todo bien. Pude capturar el handshake si mucha demora. Ahora el problema es que al momento de crear el portal gemelo, se crea por unos minutos sin permitir la conexión a este, y cerrándose el sistema y dando un mensaje de error. Quiero saber si lo puedo contactar por otro medio y enviarle los errores ya sea telegram o correo. Gracias"
_Originally posted by @Gabo1203 in https://github.com/FluxionNetwork/fluxion/issue_comments#issuecomment-425607015_

[2018-09-29 02:13] #633 closed

[2018-09-29 04:03] Gabo1203 commented on #628
A la versión 4.10 le puedo agregar el site que le comenté y que compartió usted anteriormente?
Si tiene el enlace de esta versión me la puede compartir.

[2018-09-29 04:15] the-curi0us commented on #628
Si, el enlace es el siguiente https://github.com/FluxionNetwork/fluxion/archive/v4.10.zip

[2018-09-29 17:30] Gabo1203 commented on #628
./fluxion.sh: línea 82: /root/Descargas
.
5.6/lib/HashUtils.sh: No existe el fichero o el directorio
./fluxion.sh: línea 83: /root/Descargas
.
5.6/lib/HelpUtils.sh: No existe el fichero o el directorio
./fluxion.sh: línea 148: /root/Descargas
.
5.6/preferences/preferences.conf: No existe el fichero o el directorio
chmod: no se puede acceder a '/root/Descargas'$'\n''.'$'\n''5.6/preferences/preferen

[2018-09-29 19:11] the-curi0us commented on #628
Tienes que volver a descargar fluxion 4.10 y borra el anterior cuando lo ejecutes no cambies el nombre y colocalo en la ruta en la cual vayas a ejecutarlo por que si ejecutas el script ponte en el directorio /root/Documentos y luego lo cambias a /root/Descargas este mismo error te dara

[2018-09-29 19:12] the-curi0us commented on #628
También fíjate que te situes dentro de la carpeta Fluxion y des ./fluxion.sh y no
./tu/directorio/fluxion.sh

[2018-10-01 19:28] jitu3232 opened #634 "dependencies not installing"
few dependency are missing and fluxion.sh -i could not install them. and apt-get also didnt find the bc.
how to install them. i have just installed kali and clonned fluxion

[2018-10-01 19:48] #634 closed

[2018-10-01 19:49] jitu3232 commented on #634
problem was with kali source file list.
solved

[2018-10-03 17:01] muchomuchachos commented on #589
router.sh is incomplete and not functioning

[2018-10-08 09:28] #629 closed

[2018-10-08 09:28] deltaxflux commented on #629
Yeah, we are not driver or chipset developer.

[2018-10-08 09:29] deltaxflux commented on #626
Yeah could be an enhancement

[2018-10-08 11:16] deltaxflux commented on #632
I'm not familiar with every chipset.  Some basics: install sure driver is properly installed and the driver is loaded in the kernel

[2018-10-08 15:54] axware commented on #632
I fixed it by changing kernel, now I've another issue fake AP won't stop after turning off victim's AP ,
I suppose (target tracking) are responsible for this function so i use a separated wlan for it,
it just changing channels if the AP restarted.

[2018-10-09 19:29] sue35205 opened #636 "Can not find path to install missing files."
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-10-09 19:47] sue35205 commented on #636
1. intent is to run FLUXION of KALI-3.
2. If I boot from flash drive of KALI-3 CD installed on it, FLUXION installs and later I can install the missing fillies by running "./fluxion -i" command.
3. However id I boot from hard drive having KALI-3 on it,  it does not let me to install the missing files via above command.  It reports "E: ....," saying apparently that it can not find path.
4. The foll

[2018-10-12 06:41] gudangboys opened #637 "Rogue AP unstable, DHCP issue, Router Password Page loading delay."
Hi,
First of all thanks again for your wonderful effort!

1. A simulated attack on my own router brought up the following issues;

a. The Rogue AP keeps disappearing and reappearing on the available networks list.

b. When the victim tries to connect to the Rogue AP when it appears, stuck in "Obtaining IP" step (In Fluxion it shows that DHCP offer has been made with IP address.

c. After repeated

[2018-10-12 17:16] usuarionuevor commented on #612
also fluxion doesn't close "AP Authenticator" window, so if fluxion switch channel 5 times it still have 5 AP Authenticator windows opened at the same time, I don't know if this is the cause but I suspect it is, because I always get crash after a while with "no client found" (client IS there), when the crash happens the options "select another attack" or "exit" doesn't work, need force close and r

[2018-10-13 00:44] ttoa opened #638 "Usb Adapter Recommendation"
Hi, my adapter: Alfa Awus036h
Antenna: Alfa AGA-2424T 24 dBi Grid
Awus036h+Aga-2424t Long distance performance is fine.
Awus036h this adapter is old for fluxion.
I'm looking for an adapter that will do a long distance performance with this antenna.
I stayed between 3 adapters for fluxion
AWUS036NH
AWUS036NHA
AWUS036ACH
I thought about taking Nha.But Ach and Nh made me think.

NH:33 Dbi.Normal chip

[2018-10-13 18:42] strasharo commented on #638
036h is not compatible with hostapd.  AWUS036NHA has the most suitable chipset for fluxion.

[2018-10-13 18:42] #638 closed

[2018-10-13 18:42] #631 closed

[2018-10-13 18:43] #632 closed

[2018-10-13 18:44] #636 closed

[2018-10-13 18:44] strasharo commented on #630
Your chipset is not compatible.

[2018-10-13 18:44] #630 closed

[2018-10-13 21:02] ttoa commented on #638
Thank you :)

[2018-10-16 21:35] hasanalizxc commented on #579
https://github.com/FluxionNetwork/fluxion/issues/212

Your wifi adapter's chipset is NOT compatible with hostapd.

[2018-10-16 21:44] hasanalizxc opened #639 "Hostapd Compatible USB Adapters (2018)"
Dear FluxionNetwork and Github Members,

I read this issue (https://github.com/FluxionNetwork/fluxion/issues/212) and they are saying alfa awus036h is NOT compatible with hostapd. I have awus036H and when i try to create an evil twin, it stucks.

Is there any solution fix this? If there is not a solution for this, could you please tell me what is the compatible USB WI-FI adapters with hostapd? I s

[2018-10-17 00:17] sue35205 opened #640 "E: Unable to locate package bc"
### Bug Report

#### Summary

##### What is the current behaviour?

#### How to reproduce

##### If the current behaviour is a bug, please provide the steps to reproduce it.

##### What do you think the expected behaviour should be?

##### If this is a feature request, what is the motivation or use case for the added feature?

##### Specs
*Paste the output of `./script/diagnostics.sh [interface]`*

[2018-10-17 00:33] sue35205 commented on #640
Upon running "./fluxion.sh -i" it fails to instal missing elements and report the following:
Nothing to check.
Adding missing sources to package manager, please wait.
Adding keys.gnupg.net key, please wait.
Adding pgp.mit.edu key, please wait.
ERROR: Failed to fetch or add the source key!

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate

[2018-10-17 05:55] deltaxflux commented on #640
You mess up your dependencies. Please check the source.lst.

[2018-10-17 05:58] #628 closed

[2018-10-18 09:38] saineox opened #641 "Please Help Rtl8812BU supports monitor mode? Packet Injection? evil-Twin Attack?"
Please Help
Rtl8812BU supports
monitor mode?
Packet Injection?
Ad-hoc for Hostpad?
evil-Twin Attack?
Kali Linux supported or not?
wifislax supported or not?

need to buy new one cant

[2018-10-18 20:41] #641 closed

[2018-10-18 20:41] #640 closed

[2018-10-19 05:39] jaspervanbrian opened #642 "Can't open /tmp/fluxspace/dhcpd.conf: Permission denied"
### Bug Report

#### Summary
Hi! Thanks for making this project.
Unfortunately, when I launch an "evil twin" attack, I get an error on FLUXION AP DHCP Service xterm, saying "Can't open /tmp/fluxspace/dhcpd.conf: Permission denied". Tried to chmoding the file while its running, no luck. Thus, it launches a rogue ap that don't give an IP address, and stuck on "Obtaining IP address" on a device.

OS:

[2018-10-20 18:30] assad2000 opened #643 "install.sh: 26: install.sh: syntax error: "("unexpected"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-10-20 18:33] assad2000 opened #644 "643#"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-10-20 19:08] #643 closed

[2018-10-20 19:08] #644 closed

[2018-10-20 19:10] strasharo commented on #639
awus036nha

[2018-10-20 19:10] #639 closed

[2018-10-21 03:19] hasanalizxc commented on #153
Can you send me old version?

[2018-10-21 03:55] hasanalizxc commented on #153
can you send v2 link?

[2018-10-22 11:21] deltaxflux commented on #642
Thanks for reporting. It look like that  /tmp/fluxspace/dhcpd.conf doesn't exist. If I could reproduce this this is a critical bug.

I assign this.

Regards,
deltax

[2018-10-22 11:23] deltaxflux commented on #637
Can you please check if #642. I want to know if you have the same problem.

[2018-10-22 11:24] deltaxflux commented on #627
Which revision are you using TPLINK 722n vX?

[2018-10-22 15:43] jaspervanbrian commented on #642
Actually, it does exist. I checked it all the time I executed "evil twin" attack. Been chmodding it in the source file `attack.sh` but no luck.

[2018-10-22 22:09] suhailmurad commented on #627
it was V3.
but yesterday i bought V1 its working perfect.

[2018-10-23 10:37] deltaxflux commented on #642
Could someone confirm that the dhcpd file exists while executing. Using ls /tmp/fluxspace after launching the AP

[2018-10-23 19:02] #627 closed

[2018-10-25 02:04] amitgiri723 commented on #236
Please help!
Please help!

I have kali Linux on dual boot,   I installed Fluxion on it,  then after installation of Fluxion,  I tried to run but there is not showing of any SSID, BSSID of any wifi-network in Fluxion scanner.

Till 2018/10/23, it worked  by typing command,

 #export FLUIXIONAirmonNG=1
#. /Fluxion.sh

and it really  worked ,  but now after two days  it not work even with that comman

[2018-10-26 02:40] jaspervanbrian commented on #642
Okay, forgot to tell you that I tested the "evil twin" attack on Kali Linux 2018.2. Knowing that our default user in Kali is `root`, I guess the problem happening in Ubuntu is permission levels.

Also btw, when I tested this on Kali, the DHCP works but the fake AP created doesn't let you input a password, so you can distinguish the original from the fake.

[2018-10-26 02:45] jaspervanbrian commented on #620
You can also run the fluxion script by `$ ./fluxion.sh -d`. This happened to me and it is on issue #642

[2018-10-26 06:43] itz-8infinite commented on #201
I have been having the same issue too but in my case i started capturing handshake using 'wifite' and then when it asks if i already have captured the handshake, so i just give the directory of my .cap file. Hope that works coz i even tried updating the fluxion but it didnt helped

[2018-10-26 21:16] shahidakhter786 opened #645 "Can't capture handshakes/deauth works but no handshake after latest upgrade"
Everything was working fine since latest upgrade in kali.deauth is working ,handshake is not captured by fluxion.i tried every way.Fern wifi cracker is capturing handshakes but fluxion is taking time and time and long time,clients are deauthenticating and connecting again but nothing.

[2018-10-27 05:38] amitgiri723 commented on #42
ESSID even BSSID not displaying in FLUXION ,(FLUXION SCANNER terminal)..

i use this command,
#  export FLUXIONAirmonNG=1
#  ./fluxion.sh

but this command also didn't work.

please help!

Thank you!

[2018-10-27 07:35] igi456 opened #646 "Bug"
when i start fake acess web , not showing  window

[2018-10-27 07:46] igi456 commented on #620
same problem !! Need Fixed by devolper this script

[2018-10-27 11:16] shahidakhter786 opened #647 "Scapy version conflcts with pyrit:unable to force clients deauthentication on router"
here's dignostics.sh results: issue with AP
Injection is working!

#### XTerm Infos
**Version:** XTerm(337)
**Path:** /usr/bin/xterm
Test: XServer/XTerm success!

#### HostAPD Info
hostapd v2.6
User space daemon for IEEE 802.11 AP management,
IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
Copyright (c) 2002-2016, Jouni Malinen <j@w1.fi> and contributors
Path: /usr/sbin/hostapd

#### Aircrack-ng Inf

[2018-10-27 12:45] neovergen commented on #638
Hi! Due to the fact that airmon-ng has some issues with awus036ach adapter,

After manually doing monitor mode of awus036ach, how do you continue using fluxion? Can anyone help me? Thanks

[2018-10-27 15:03] neovergen opened #648 "AWUS036ACH compatible"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | yes

#### Summary

Suggesting if we can modify script of fluxion tool to use AWUS036ACH adapter. Thanks

[2018-10-28 15:59] paulosperrakis commented on #586
HAS ANYONE CRACKED EVEN ONE PASSWORD ?NOOOO........

[2018-10-29 05:38] gudangboys commented on #637
Thanks for your mail, no my issue is not the same as #642
Thanks

On Mon, 22 Oct 2018, 17:00 deltax <notifications@github.com wrote:

[2018-10-29 15:00] Edwar70 opened #650 "Fluxion from the sites' repository"
I can manually download all pre-built portals available for fluxion from the sites' repository.
The link https://github.com/FluxionNetwork/sites not working!

[2018-10-30 13:53] deltaxflux commented on #650
Sites moved to ```/attacks/Captive Portal/sites/```

[2018-10-30 13:53] #650 closed

[2018-10-31 10:02] deltaxflux commented on #637
Can you provide a small screen recording or the debug output log using `fluxion -d `

[2018-10-31 10:03] deltaxflux commented on #586
As I mentioned:
- This is a driver problem
- However you could use a second interface

[2018-10-31 10:04] #586 closed

[2018-10-31 10:04] deltaxflux commented on #648
No, this is the task for driver developers. Fluxion has nothing todo with this.

[2018-10-31 10:04] #648 closed

[2018-10-31 10:06] deltaxflux commented on #647
Yeah install an older scapy version using **pip**:
`pip install scapy=2.3.2`

[2018-10-31 10:07] deltaxflux commented on #620
Check if the chipset support AP mode if not fluxion does not work

[2018-10-31 10:07] #620 closed

[2018-10-31 10:08] deltaxflux commented on #646
See the AP issues. Mostly this "bug":
- some drivers / chipsets does not support AP mode

[2018-10-31 10:08] #646 closed

[2018-10-31 10:09] deltaxflux commented on #645
I will try to increase the mdk3 / mdk4 jamming interval.

[2018-10-31 10:11] deltaxflux commented on #201
Yeah fluxion accept only "good" handshakes. You can prove this with aircrack-ng or pyrit. The main problem is that aircrack-ng detect sometimes bad handshakes as good and pyrit good handshakes as bad.

[2018-10-31 10:12] deltaxflux commented on #642
I'm not into ubuntu. I don't use it and I don't want to use it. If it works on kali use kali.

[2018-10-31 10:12] #642 closed

[2018-11-01 17:47] popadrop opened #651 "Fluxion 5.6 Error"
Error message stuck at pick your language ??

### Bug Report

#### Summary

##### What is the current behaviour?

#### How to reproduce

##### If the current behaviour is a bug, please provide the steps to reproduce it.

##### What do you think the expected behaviour should be?

##### If this is a feature request, what is the motivation or use case for the added feature?

##### Specs
*Paste the ou

[2018-11-01 17:48] popadrop commented on #651
ls: cannot access 'language': No such file or directory
head: cannot open 'language/*.sh' for reading: No such file or directory

[2018-11-01 17:51] popadrop commented on #651
/root/fluxion-master/scripts/diagnostics.sh: line 12: ../lib/InterfaceUtils.sh: No such file or directory
/root/fluxion-master/scripts/diagnostics.sh: line 13: ../lib/ChipsetUtils.sh: No such file or directory
Usage ./scripts/diagnostics [wireless_interface]

[2018-11-02 10:48] azamet90 opened #652 "everything about wifi or eth0 and the appication stuck after ap create (the last option after ssl thing) #bug"
### Bug Report

#### Summary

after i select start ap thing everything stucks about network and the app too it is not exiting even restart or shutdown is stucking calculating seconds for shut down pid 1000 or something like that my english is bad i will try my best.
t.

and i get this error on the same thing (ap start thing)
Warning: Tried to connect to session manager, None of the authentication

[2018-11-02 10:49] azamet90 commented on #652
and even after this test fluxion stucks again -.-

[2018-11-02 14:44] azamet90 commented on #652
before i did removed the internal wifi now i plug it in again now on start i get this
./lib/airmon/airmon.sh: 94: [: xlrwxrwxrwx: unexpected operator
./lib/airmon/airmon.sh: 188: [: xlrwxrwxrwx: unexpected operator
./lib/airmon/airmon.sh: 193: [: xlrwxrwxrwx: unexpected operator
./lib/airmon/airmon.sh: 204: [: xlrwxrwxrwx: unexpected operator
./lib/airmon/airmon.sh: 210: [: xlrwxrwxrwx: unexpected

[2018-11-02 15:49] macr1408 opened #653 "What about creating a portable version with all the dependencies preinstalled?"
### Feature Request

What about creating a portable version with all the requirements coming pre installed? I know that this would become outdated pretty fast, but it's useful because nobody wants to keep installing the same dependencies over and over again everytime you boot with a live usb

[2018-11-02 17:56] shahidakhter786 commented on #645
thank you so much.your efforts are so thankful.

[2018-11-03 02:25] stevanuscolonne opened #654 "Cannot Start Captive Portal Attack"
### Bug Report

#### Summary
Cannot Start Captive Portal Attack with internal wifi card (atheros)

##### What is the current behaviour?
fluxion stuck

#### How to reproduce

##### If the current behaviour is a bug, please provide the steps to reproduce it.
![screenshot from 2018-11-03 01-39-06](https://user-images.githubusercontent.com/24591481/47947151-c8d7e980-df49-11e8-8b5a-b0c142f722da.png)

!

[2018-11-04 18:02] anto1889 opened #655 "missing dependencies"
ciao ragazzi,
after cloned and opened fluxion.sh, it doesn't load this:
            [*] aircrack-ng...................................... OK.
            [*] bc.......................................... **Missing!**
            [*] awk.............................................. OK.
            [*] curl............................................. OK.
            [*] cowpatty....................

[2018-11-04 20:51] vlldk commented on #655
You need to run fluxion.sh -i to install dependencies first

[2018-11-04 21:55] deltaxflux commented on #655
Can you ping the google dns : `ping 8.8.8.8`?
Please use the latest version of fluxion.

[2018-11-04 21:55] #655 closed

[2018-11-08 05:29] Delfino520 opened #658 "cannot download router portals using git submodule update --init --recursive"
when i use git submodule update --init --recursive to download router portals, i get 404 error page not found. what is wrong? i need D-link en portal, however fluxion does not include it.

[2018-11-08 06:59] azamet90 opened #659 "AP mode works on wlan0 but not on wlan1"
#### Support Question
not only on your app also on every github app i cant start AP on wlan1 which is alfa AWUS036ACH 1200 AC

is there something i need to do on hostapd or dnsmasq? i already set up the isc-dhcp-server sorry for this noob question if someone can help me i will never forget this and god will bless you man

my test attack first time worked with this application only i did test every

[2018-11-08 12:17] Delfino520 opened #660 "Does fluxion jam 5 GHz and 2.4 at the same time?"
I mean can fluxion jam 5 GHz and 2.4 GHz using one wireless adapter? Or need 2 wireless adapters , one jam 5ghz and the other one jam 2.4ghz?

[2018-11-09 00:44] azamet90 commented on #659
so problem is fixed it happend maybe because of i was noob but i want to tell you how i did fix the problem:

i just use the wlan1 only for Access Point
and the other i mean tracking jamming etc i selected only wlan0 maybe it must be work only so maybe i was stupid i dont know but this was the solution for me

[2018-11-10 07:40] azamet90 opened #661 "handshake capture not working on wlan1 but it is capturing on wlan0"
im using latest version of everything and i have alfa wifi adapter the ACH model on wlan1 it is working for AP mode but not for handshake capturing which is working on wlan0!
[code]

[2018-11-10 07:57] azamet90 commented on #659
[code]

[2018-11-10 09:55] sersajar opened #662 "Fake site does not appear in victim's device"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

My problem is that the fake site does not appear in the victim device.
The fake AP appears, and I can connect to it, BUT no fake site appears at all. I cannot use the internet in the device, so it is good.
What is the problem here??

#### Specs

![captura de pantalla de 2018-11-10 10-23-22](https://user-images

[2018-11-10 19:14] vampireactual commented on #662
Are you running it as the sudo or root user?

[2018-11-11 09:57] chemonicek commented on #662
same problem for me... i start fluxion with sudo :(

[2018-11-13 02:35] emaragkos opened #663 "Not enough information: "dev" argument is required."
### Bug Report

#### Summary
I tried to make a custom theme for the fake AP page but when I select it to use it I get an error.

##### What is the current behaviour?
I get the error "Not enough information: "dev" argument is required."

#### How to reproduce
Use theme OTE.portal while creating a fake AP page (fluxion/attacks/Captive Portal/sites/OTE.portal)
Here is my fork
https://github.com/emara

[2018-11-13 10:31] azamet90 commented on #663
if i exit and enter the program again it is fixed on me

[2018-11-13 15:37] emaragkos commented on #663
Still no luck :/
https://www.youtube.com/watch?v=uZs_2C7Px_o

[2018-11-14 08:00] apocalipsys commented on #365
Hola, SOLUCIONADO.
En mi caso me funciono.
	apt-get install pkg-config libnl-3-dev libnl-genl-3-dev
	cd /mdk4-master
	make
	sudo make install
despues, edité el archivo attack.sh que está en la carpeta /attacks/captive portal/
linea 1505:
"mdk3 $CaptivePortalJammerInteface d -c $FluxionTargetChannel blablabla...."
cambié mdk3 por mdk4 y quedaria asi:
"mdk4 $CaptivePortalJammerInteface d -c $Fluxion

[2018-11-15 08:20] calee4nyaboy commented on #153
The website that hosted version 2.3 is no longer active.  I would have to send it to you another way as I have it saved on my laptop.

[2018-11-15 16:45] zeeshan7860 commented on #625
Is it necessary to have two wifi cards for jamming and creating a fake AP???
Can we use one for jamming and AP?

[2018-11-15 16:50] zeeshan7860 opened #664 "Is it necessary to have two wifi cards for jamming and creating a fake AP??? The fake AP is created but fluxion is not deauthenticating the target channel after creating the fake AP"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-11-15 16:52] #664 closed

[2018-11-15 16:52] zeeshan7860 opened #665 "Is it necessary to have two wifi cards for jamming and creating a fake AP??? The fake AP is created but fluxion is not deauthenticating the target channel after creating the fake AP"
|    Q        |   A
|------------ | -----
| Version     | 4.10.x

#### Support Question

#### Specs

[2018-11-17 07:05] hyekalhitech commented on #365
hello @apocalipsys

im trying to use your method. but im stuck at

"sudo make install"

here is what i do.

i download mdk4 from github using command

"git clone https://github.com/aircrack-ng/mdk4.git- ."

download was success. and next i run

"sudo make"

and ended up with this error

"dumpfile.c:2:10 fatal error: pcap.h: no such file or directory
#include <pcap.h>

compilation terminated.
make[

[2018-11-17 09:34] hyekalhitech commented on #365
@apocalipsys hai pls answer me. asap

[2018-11-17 11:18] rootuser9006 commented on #365
i tried all solution i can find in the internet
but i cant diagnose the issue so i uninstall linux already
no longer use the software
thanks

On Sat, Nov 17, 2018 at 5:34 PM hyekalhitech <notifications@github.com>
wrote:

[2018-11-17 11:52] hyekalhitech commented on #365
@rootuser9006 use different version of mdk3

[2018-11-19 21:09] Emis02 opened #666 "no cowpatty"

[2018-11-21 08:52] Casper-88 opened #667 "Please try install in kali linux 2018.4"
Dear fluxion,
Can you let me know fluxion support what wifi chipset  5Ghz?
I try Realtek RTL8812AU still have problem,
You can try install kali linux 2018.4, after then install below driver.
apt-get update
apt install realtek-rtl88xxau-dkms
rtl8812 driver v5.20.2
AP will not start.
Who people can let me know how to solve this problem?

[2018-11-22 06:09] NiXoN999 commented on #667
Hi, Casper! I have exactly the same problem and can't solve it for several days...If you create AP by hostapd,  I think the problem comes because macchanger can't change mac on virtual interface. I assume this driver problem(((

[2018-11-22 12:23] BinJeremy opened #668 "Captive Portal : Phishing Page"
I use fluxion ver 5.6 , after Captive Portal attack , I use device1 Android use wifi phishing , it show " Tap here to sign in network " , but it error
++ The webpage at http://connectivitycheck.gstatic.com/generate_204 could not be loaded because:

net::ERR_NAME_NOT_RESOLVED

---- I use device2 Samsung use WIFI Fake , it not show " Sign in Network " , but using 192.168.254.1 it working ! How ?

Ho

[2018-11-23 14:40] littleheary opened #669 "Aborted, X (graphical) session unavailable."
i run it in parrot。but the error is Aborted, X (graphical) session unavailable.
how can i do。

[2018-11-23 18:33] Dontmindmes opened #670 "Installing and using on Windows?"
Hello, is it possible to install Fluxion on windows using bash? I download and attempt to execute but i get the follow error thrown
"Aborted, X (graphical) session unavailable"

[2018-11-24 04:54] deafgaminghd commented on #667
same!

[2018-11-24 15:14] NiXoN999 commented on #667
Guys!!!

[https://github.com/FluxionNetwork/fluxion/issues/212#issuecomment-338018996](url)

[2018-11-24 20:45] strasharo commented on #669
As the exception says, run it inside a graphical session.

[2018-11-24 20:45] #669 closed

[2018-11-24 20:45] strasharo commented on #670
No.

[2018-11-24 20:45] #670 closed

[2018-11-24 20:46] strasharo commented on #653
Feel free to implement it.

[2018-11-24 20:47] #659 closed

[2018-11-24 20:48] strasharo commented on #660
No.

[2018-11-24 20:48] #660 closed

[2018-11-24 20:48] #658 closed

[2018-11-24 20:49] #625 closed

[2018-11-24 20:55] strasharo commented on #651
https://github.com/FluxionNetwork/fluxion/issues/621

[2018-11-24 20:55] #651 closed

[2018-11-24 20:56] #647 closed

[2018-11-24 20:57] strasharo commented on #661
Obviously the adapter is not compatible.

[2018-11-24 20:57] #661 closed

[2018-11-24 20:57] #652 closed

[2018-11-24 23:35] Dontmindmes opened #671 "Cant install Dep"
I am not able to install any of the dependences

https://gyazo.com/f3b0a3a5b0b6c37f161bbe2e9ceaf409

[2018-11-25 00:23] dancrow565 opened #672 "Network Connection Failing"
When i do a Handshake Snopper, (or whatever it's called), and I choose my network card (wlan0) it automatically disconnects me from my network and kali gives me an error message saying "Activation of network connection failed", and then I am unable to scan. I dont know if it is a bug or not, and I dont know how to reproduce it

[2018-11-25 08:10] #672 closed

[2018-11-25 08:11] strasharo commented on #671
You have an issue with your Kali install, it has nothing to do with fluxion.

[2018-11-25 08:11] #671 closed

[2018-11-25 08:11] #668 closed

[2018-11-25 08:13] strasharo commented on #654
There's a kernel bug with your wireless driver.

[2018-11-25 08:13] #654 closed

[2018-11-25 08:14] #662 closed

[2018-11-25 08:33] zeeshan7860 commented on #625
what the fuck strasharo

[2018-11-25 12:30] deltaxflux commented on #660
Could be a feature request.

[2018-11-25 12:31] deltaxflux commented on #658
Yeah we don't use submodules anymore.

[2018-11-25 12:31] deltaxflux commented on #658
I fix the readme.

[2018-11-25 12:34] deltaxflux commented on #672
Looks like your wireless card is not supported or you have driver problems.

[2018-11-25 12:35] deltaxflux commented on #671
BC dependency is required since we calculate the screen size.

[2018-11-25 12:37] deltaxflux commented on #668
Newer android versions check the internet connection before. Looks like this is not working in newer android and ios version.

 We could implement a bypass but this could be an enhancement.

[2018-11-25 12:39] deltaxflux commented on #662
Edit: I remove the picture because it contain sensitive data.

[2018-11-25 12:40] #667 closed

[2018-11-25 12:42] deltaxflux commented on #663
Thanks for reporting!

[2018-11-25 19:26] Dontmindmes opened #673 "Unable to connect to fake network"
/scripts/diagnostics.sh wlan0
#### FLUXION Info
FLUXION V5.6

#### BASH Info
GNU bash, version 4.4.23(1)-release (i686-pc-linux-gnu)
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>

This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
**Path:** /usr/bi

[2018-11-25 19:34] Dontmindmes opened #674 "Unable to capture packets with Fluxion"
/scripts/diagnostics.sh wlan0

FLUXION Info
FLUXION V5.6

BASH Info
GNU bash, version 4.4.23(1)-release (i686-pc-linux-gnu)
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html

This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Path: /usr/bin/bash

Interfa

[2018-11-26 22:43] Dontmindmes commented on #674
https://gyazo.com/ef3eb03793127a7159908c8209f61e7e

it changes channel number

[2018-11-27 02:03] Dontmindmes commented on #674
https://gyazo.com/282e81206c7028c10c6b43d45905bb92

[2018-11-27 21:48] he2lec opened #675 "Captive Portal file not found"
Hi,

When launching the captive portal, one of the console indicates that the captive_portal_authenticator.sh file is not found:

[code]

thus the portal isn't working. Any idea ?

[code]

[code]

[2018-11-28 22:09] strasharo commented on #579
You have an issue with your Linux install, commands are failing. This has nothing to do with fluxion itself.

[2018-11-29 01:20] wardinh0 opened #676 "Network is down"
The attack stops at the Captive Portal step, I setup everything right, have the handshake, there ARE clients online and the network is UP and running, but in the jamming window it says that the network is down, and in the airodump-ng window shows 0 clients, when I actually have about 5 people connected. Not using the tracker option, just the jamming & fake AP with the same wireless card, it does s

[2018-11-29 11:03] merlon2018 commented on #579
@strasharo I've installed linux 2018.1 using unetbootin do I have to change any options ? Also is my chipset compatible with fluxion's attacks. Thank you for your answers :)

[2018-12-01 17:05] itsStar opened #677 "Can we have fluxion available on Openwrt ?"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Can we have fluxion available on [OpenWrt](https://openwrt.org/) ?
It would be handy on a portable router like [MR3040](https://wiki.openwrt.org/toh/tp-link/tl-mr3040) with battery support to deploy an attack on remote location where we don't want to be noticed w

[2018-12-01 17:30] rad4day commented on #677
No.

[2018-12-02 14:20] #676 closed

[2018-12-02 20:38] xaris33 opened #678 "No redirection to page"
Everything starts ok, but I can only get the password page on devices only by going to 192.168.254.1, if I try any other address I get "Page cannot be found". On Android,if I click the "sign in to this network" pop up I get the page as well, but not from any other web address. I can see the requested pages and  redirections at the DNS window, but nothing loads.

[2018-12-02 21:19] wahbi commented on #340
@MPX4132  @vanpersiexp  why should i use this command:

export FLUXIONAirmonNG=1

??
it does not make sense to me

[2018-12-02 22:19] strasharo commented on #677
Just use a Raspberry instead.

[2018-12-02 22:19] #677 closed

[2018-12-03 15:51] deltaxflux commented on #673
Closing due inactivity

[2018-12-03 15:51] #673 closed

[2018-12-03 15:52] deltaxflux commented on #678
Check if you can run manually the python dns script. It should work fine and force use python2.

[2018-12-03 15:53] deltaxflux commented on #674
Does airodump claim that it capture a handshake ?

[2018-12-03 15:54] deltaxflux commented on #675
Please re-clone this repository. Sounds for me that there are some files missing.

[2018-12-03 15:55] deltaxflux commented on #637
No response. Closing.

[2018-12-03 15:55] #637 closed

[2018-12-03 15:55] deltaxflux commented on #677
I think there is to much overhead and its not worth it.

[2018-12-03 15:56] deltaxflux commented on #677
Fluxion is in general very huge. Most routers don't have more than 10mb space left.

[2018-12-03 15:59] itsStar commented on #677
Actually there is an overlay option which enable openwrt to use USB drive to root from.
And i have attached 2GB Flash drive and have lots of spare room on MR3040 :)

[2018-12-08 18:59] fir0j commented on #340
---------------------------------------------------------------------------------------------------------------------------
100% PROBLEM SOLVED
Actually there is no probem, YOu just need to run " sudo airmon-ng check kill " be " sudo ./fluxion.sh "
!!!Enjoy guys!!!

[2018-12-11 19:37] lo0oper commented on #257
Is there any other way out to the problem

[2018-12-11 19:38] lo0oper commented on #257
I am using the inbuilt WiFi card for this as it could be switched to monitor mode and here in India we don't have the easy access to the external WiFi cards they even cost much for an engineering first year student ?

[2018-12-17 07:35] chunkingz commented on #654
@stevanuscolonne Please I have this same issue where fluxion gets stuck at "starting captive portal access point service" have you been able to solve this problem?? #

also what command did you use on the second tab in your terminal to reproduce that debugging effect, I need it to know what I am actually facing.

[2018-12-18 19:18] ritmet opened #679 "When FakeAP is opened Deauth doesnt work"
|    Q        |   A
|------------ | -----
| Version     | 5.6

#### Support Question

At the Captive Portal Attack everything works fine except the Deauth Attack while the FakeAP is opened.
It says "Periodically re-reading Blacklist/whitelist every 3 seconds" but no device gets deauthenticated whether I try with PC (windows) or Android.
But at the handshake snooper it works great with mdk3 and air

[2018-12-20 15:44] rad4day commented on #654
@chunkingz looks like `dmesg` to me

[2018-12-21 15:03] usama7628674 commented on #620
Well the same problem in kernal.It's still not fixed yet.

[2018-12-22 01:44] ahmadswift99 commented on #620
I thought they have fixed it. How about my scripts output? Is there any incompatible interface or driver?

[2018-12-22 02:17] usama7628674 commented on #620
@ahmadswift99 You can `dmesg` on terminal after stuck there you'll see bug in red line.

[2018-12-27 21:08] overlife6 opened #680 "Tuto or short guide to add new Custom Portal Interfaces manualy ?"
Hey,

Question in the title :)
Can't access Custom Portal Interfaces page on wiki and i'm intersted in.
I half inderstand what need portals to work (communicate) with Fluxion, but not files it really need and how to add them to fluxion "web interface" menu before attack.

Best regards

[2018-12-28 00:46] nicolas4d opened #681 "Fluxion"

[2018-12-28 00:49] nicolas4d opened #682 "Ubuntu"
Is working on ubuntu 16.04lts?

[2018-12-28 00:50] #681 closed

[2018-12-28 00:54] #682 closed

[2018-12-28 01:18] nicolas4d opened #683 "Captive portal"
Starting Captive Portal access point service...
And nothing
Help me
Why ?

[2018-12-28 23:46] rattzy commented on #539
@deltaxflux , I know its been a long time since this thread, I`ve encountered the same problem when using Fluxion.
Sometimes after 2 mins of running I come across the error, that clients.txt - no such file or directory. Ran a diagnostics on both interfaces I`m using with fluxion and I got an error that the Scapy version is 2.4 and pyrit might not work, but I`m not selecting pyrit when configuring

[2019-01-01 15:01] LePrinz commented on #579
using kali 2018.4 / Fluxion 5.6 / TP 722N.
it took me day and night to install all drivers but still cant get monitor mode to work.
at the end i got a working driver which is; https://github.com/kimocoder/rtl8188eus for my (uname -r
4.18.0-kali3-amd64)

Still the same, this bug isn't fixed yet?

(OFF TOPIC)
root@kali:~# pip2 uninstall scapy
Not uninstalling scapy at /usr/lib/python2.7/dist-package

[2019-01-01 18:19] LePrinz commented on #683
which wifi adapter you're using? Atheros or Realtek ?
ive heard that realtek cannot be used for these attacks, and up to 2018.2 atheros won't neither..
Im using 2018.4 with realtek adapter (TPW722N v2) and can't get thought captive portal either.. same problem

[2019-01-01 19:12] LePrinz commented on #683
Try to not use Hostapd if you got Realtek wifi adapter. I used the second one here
[1] Rogue AP - hostapd (recommended)
[2] Rogue AP - airbase-ng (slow)
and it seems worked but then this happen..
[https://imgur.com/a/wZoyTRU](url)
is this a bug?

[2019-01-01 19:48] HALofBorg commented on #683
@LePrinz https://www.tp-link.com/us/products/details/cat-5519_TL-WDN4800.html with x(3) https://hawkingtech.com/product/hai15sc/ with Kali2019.1 Mate (full installation) on a SanDiskExtreme3.1USB drive seems ok, if it's any help. The card has the power of the mainboard PCIe slot, and works in monitor mode. This , of course, is a tower, not laptop.

[2019-01-01 21:09] LePrinz commented on #683
@HALofBorg thanks for the fast reply. my idea was to buy one of these alpha adapters
https://www.amazon.de/gp/product/B01D064VMS
https://www.amazon.fr/ALFA-Network-AWUS036NHA-Adaptateur-connecteur/dp/B004Y6MIXS
they should work fine, is there a difference between? (which one better)

[2019-01-01 21:12] strasharo commented on #683
AWUS036NHA should be fine, it has an Atheros chipset, which is compatible.

[2019-01-01 21:12] #683 closed

[2019-01-04 06:00] andybiss commented on #385
Hello,

Just confirming on the functionality of this improvement, does fluxion follow the channel on the 5g band if it is channel hopping? or does one need to keep track of that with a separate interface?

[2019-01-04 21:00] apocalipsys commented on #365
@hyekalhitech
apt-get install pkg-config libnl-3-dev libnl-genl-3-dev
cd /mdk4-master
make
sudo make install

[2019-01-05 04:45] apocalipsys commented on #365
first instal mdk4 from github...
like: git clone  https://github.com/aircrack-ng/mdk4.git
and then
apt-get install pkg-config libnl-3-dev libnl-genl-3-dev
cd /mdk4-master
make
sudo make install

[2019-01-06 03:01] PoSHMagiC0de opened #684 "Fluxion exits if password entered is correct or not."
### Bug Report

#### Summary
Fluxion Portal Capture exits if correct password is inserted or not.

##### What is the current behaviour?
Fluxion quits Capture Portal attack if current password is correct or not.  Used to only stop attack if correct password matches hash or you manually tell it to.

#### How to reproduce
Run Fluxion against a test AP with handshake and put in wrong password on captu

[2019-01-06 03:55] omgwtfwow commented on #684
Been troubleshooting this same issue. Tried installing previous versions of Fluxion but didn't work. Passwords entered are logged, but Fluxion closes whether they are correct or not.

[2019-01-07 00:57] SemiIngSoft opened #685 "Problem to connect to an AP"
### Bug Report

#### Summary

I try to connect to the access point with my cellphone but it doesn't connect it only say "getting the ip" an never connected

#### What is the current behaviour?

Fluxion creates the Fake AP but I can't connect with my cellphone.
#### How to reproduce
[code]

I have an Alfa  AWUS036NH

##### If the current behaviour is a bug, please provide the steps to reproduce it.

[2019-01-07 09:08] Geralt-of-Livia commented on #634
Could you tell me how did you solve the problem?

[2019-01-07 09:38] Geralt-of-Livia opened #686 "missing dependencies can't be installed"
### Bug Report

#### Summary

I clone github to my computer in kali linux 2018.2
and ./fluxion -I doesn't work:
Dependency installation failed!
Press enter to retry, ctrl+c to exit...
few dependency are missing and fluxion.sh -i could not install them. and apt-get also didnt find the bc.
how to install them. i have just installed kali and clonned fluxion

[2019-01-25 12:04] strasharo commented on #686
Install the missing dependencies manually.

[2019-01-25 12:04] #686 closed

[2019-01-25 17:57] minanagehsalalma commented on #613
@the-curi0us  what about #684 #618  ?!

why this happens ?!

[2019-01-25 18:01] minanagehsalalma commented on #618
@deltaxflux @the-curious ... i am facing this problem too... it only happens in the latest version

[2019-01-27 15:02] 78bash commented on #685
#277 Possible duplicate

[2019-01-27 15:18] strasharo commented on #679
Do you have mdk4 installed by any chance? Currently handshake snooper silently picks mdk4 if it's available instead of mdk3.

[2019-01-27 22:19] strasharo commented on #618
It appears that the output of aricrack-ng changed from "Passphrase not in" to "KEY NOT FOUND" recently. Will add a fix shortly.

[2019-01-27 22:39] #618 closed

[2019-01-27 22:40] strasharo commented on #684
Fixed in https://github.com/FluxionNetwork/fluxion/commit/f116e5481cf6b28805abc0688d451498e58bd7c3

[2019-01-27 22:40] #684 closed

[2019-01-27 22:40] strasharo commented on #613
Fixed in https://github.com/FluxionNetwork/fluxion/commit/f116e5481cf6b28805abc0688d451498e58bd7c3

[2019-01-27 22:40] #613 closed

[2019-01-27 22:42] strasharo commented on #674
No response in timely manner.

[2019-01-27 22:42] #674 closed

[2019-01-27 22:55] #645 closed

[2019-01-27 23:05] minanagehsalalma commented on #618
@strasharo  OK thanks gonna test it 😁😁😁

[2019-01-27 23:21] strasharo commented on #675
No feedback in timely manner.

[2019-01-27 23:21] #675 closed

[2019-01-30 16:20] PoSHMagiC0de commented on #684
Awesome.  I will give it a try.  I been toiling over the script.  You might
want to look at aircrack-ng -l option.  It allows you to save a cracked
password to a file.  Another side affect is if the password is not cracked,
no file is created.  You could use this to do a file check for a cracked
password or not and the file will contain just that password.  Just a
thought.

On Sun, Jan 27, 2019 at

[2019-01-31 03:10] nun97 opened #687 "Errore, file hash non valido!"
Ciao!
Qualcuno può dirmi cosa devo fare quando lo script chiede il percorso del file handshake?

Grazie.

[2019-01-31 09:36] #687 closed

[2019-02-01 00:58] minanagehsalalma commented on #612
@usuarionuevor  you should start a new issue

[2019-02-05 00:00] repomorphic opened #688 "Fluxion is jamming evil-twin access point instead of target access point"
### Bug Report

#### Summary
Fluxion attacks evil-twin ap instead of target ap.

##### What is the current behaviour?
Device jamming itself instead of target ap.

#### How to reproduce
0- Installed Ubuntu LTS 18.04
1- Installed all requirements by using apt package management system:

sudo apt-get install aircrack-ng
sudo apt-get install isc-dhcp-server
sudo apt-get install hostapd
sudo apt-get in

[2019-02-05 12:21] jepunband opened #689 "Language not displayed to select."
|    Q        |   A
|------------ | -----
| Version     | 5

#### Support Question
hi Language not displayed to make selection. I'm on Kali. I started the script directly in the fluxion folder.

[2019-02-05 18:21] #689 closed

[2019-02-05 18:24] strasharo commented on #688
cat /tmp/fluxspace/mdk3.txt

[2019-02-07 13:30] #688 closed

[2019-02-11 04:13] bumpz opened #690 "JP translation in default captive portal?"
Hello i saw plenty of translations in landing page (captive portal) but except Japanese,, is it possible to add it in default portal?

Thank you.

[2019-02-11 04:53] ZeroizeHD opened #691 "what is 7zr package ?"
I Want excute fluxion

it's problem

Fluxion dpendency 7zr problem

i try search google 7zr

resolution is dnf install p7zip

i try install p7zip but not solved

what should I do?

plz help me ㅠㅠ

i use fedora os

[2019-02-11 07:13] ZeroizeHD commented on #691
I Solved this issues
i create new link
ln -s /usr/bin/7z /usr/bin/7zr
thanks

[2019-02-11 07:13] #691 closed

[2019-02-11 07:14] ZeroizeHD commented on #691
I Solved this issues
i create new link
ln -s /usr/bin/7z /usr/bin/7zr
thanks

[2019-02-12 08:11] strasharo commented on #690
https://github.com/FluxionNetwork/fluxion/blob/master/attacks/Captive%20Portal/generic/languages/English.lang

Pull requests are welcome.

[2019-02-12 08:11] #690 closed

[2019-02-12 08:13] strasharo commented on #680
Pick any of these as a sample and adapt it to your needs:
https://github.com/FluxionNetwork/fluxion/tree/master/attacks/Captive%20Portal/sites

[2019-02-12 08:13] #680 closed

[2019-02-12 08:14] strasharo commented on #606
If anyone's interested in contributing pages for this just create a pull request.

[2019-02-12 08:14] #606 closed

[2019-02-12 15:44] xmagickx opened #692 "Fluxion FakeAP, FAKEDNS and other windows not opening when selecting Genenic EN portal"
Fluxion FakeAP, FAKEDNS and other windows not opening when selecting Genenic EN portal. All other portals, except GENERIC EN, when selected opens all the necessary windows to capture the correct wifi password. When selecting Generic EN portal fluxion hangs and does not do anything and no AP is created.

[2019-02-13 01:37] xmagickx commented on #692
Changing the folder name of fluxion was causing the issue. Solved by restoration of original folder name

[2019-02-13 01:37] #692 closed

[2019-02-14 23:00] apocalipsys commented on #591
#!/bin/bash
iw fluxwl0 del
iw fluxwl1 del
airmon-ng
#---END---
With this simple script you can continue the attack. When the script do airmon-ng you type y the number of wireless adapters that you used, and in the script if you used a wireless device, you have to delete the line that says fluxwl1, if you used 2, you have to leave it as it is, if you use 3 you have to add fluxwl2 and so on. .

[2019-02-16 00:33] kimocoder commented on #83
A little update, we've added support for the 88XXau (rtl8812au) into airmon-ng, as we still struggle with virtual Interface support.

airmon-ng noe works with the driver.

[2019-02-16 12:45] MrFrostmaul opened #693 "./fluxion.sh command not found"
| Version     | 4.10.x      - Running latest version of Kali (as of 16/02/2019) and have tried installing dependency "sudo apt-get install hostapd" manually which is already installed and up to date.

Running this below - on the ./fluxion.sh   generates errors
git clone https://www.github.com/FluxionNetwork/fluxion.git
cd fluxion
./fluxion.sh

Error:

./fluxion.sh: line 255: format_center_literals

[2019-02-16 15:13] logan001 commented on #346
and 1 year laters i have same problem.
the link for svn is not working anymore.
any suggestions?

[2019-02-17 17:07] #693 closed

[2019-02-18 02:45] minanagehsalalma opened #694 "Would a EAP GTC ... Downgrade useful ?"
Look
https://github.com/sensepost/mana/issues/104
I think
It would be use to get rid of the captive portal and hsts  / DNS headache !!

[2019-02-18 11:29] usuarionuevor opened #695 ""AP Authenticator" window not closing when switching channel (POSSIBLE CRASH)"
When AP switches channel Fluxion does accordingly except the "AP Authenticator" window doesn't close and keep it opened with the old channel, so if it switch channel 5 times, there will be 5 "AP Authenticator" windows opened at the same time.

I'm not 100% sure this is the cause, but I usually get CRASH after a while (after several channel switches) with "no client found" error (client IS there).

[2019-02-18 20:17] strasharo commented on #694
Irrelevant.

[2019-02-18 20:17] #694 closed

[2019-02-18 20:18] strasharo commented on #695
The authenticator window is made to persist in case you get a valid password, which is displayed in there.

[2019-02-18 20:18] #695 closed

[2019-02-18 20:30] strasharo commented on #83
Great news @kimocoder . Just ordered a AWUS036AC, so soon I'll have a device to test with. :)

[2019-02-18 20:31] strasharo commented on #346
Just install mdk4 from here:
https://github.com/aircrack-ng/mdk4
If fluxion finds mdk4 in the path it will use it instead of mdk3.

[2019-02-19 07:05] nicolas4d commented on #551
Check the DNS service
nslookup somebsdomain.lulz 192.168.254.1
# Should route you to 192.168.1.254.1, but any domain you input should route you to it.
This is OK

# Check the Web service (by host address)
firefox http://192.168.254.1
# Or just navigate to that on a browser
This is server not found. How can I fix?

[2019-02-19 07:20] nicolas4d commented on #551
# Check the DNS service
nslookup somebsdomain.lulz 192.168.254.1
# Should route you to 192.168.1.254.1, but any domain you input should route you to it.

# Check the Web service (by host address)
firefox http://192.168.254.1
# Or just navigate to that on a browser.

@MPX4132
I did check the DNS service. this route to 192.168.254.1
but when I check the web service. It's responed "Server Not Found".

[2019-02-19 07:23] nicolas4d commented on #551
I did check the DNS service. this route to 192.168.254.1
but when I check the web service. It's responed "Server Not Found". how can I fix this? Please!

[2019-02-19 07:32] strasharo commented on #694
You have the source, feel free to set whatever you want.

[2019-02-19 09:00] minanagehsalalma commented on #694
if i could i would .. but i opened this issue cause i can't..

On Tue, Feb 19, 2019, 9:33 AM strasharo <notifications@github.com wrote:

[2019-02-19 13:07] nicolas4d commented on #551
hi @MPX4132
I did check the DNS service. this route to 192.168.254.1
but when I check the web service. It's responed "Server Not Found". how can I fix this? Please!

[2019-02-19 15:35] Denzel-Washington commented on #554
hi @MPX4132

sorry for the super late reply ... yeah this "ln -s /proc/self/fd /dev/fd" worked!! .thanks.

[2019-02-20 07:40] nicolas4d commented on #551
thanks @MPX4132 @rad4day @NavjotSinghMinhas first.
I fixed this problem.
vim /etc/resolv.conf:
nameserver 192.168.254.1
put this first as first dns.

[2019-02-25 10:05] usuarionuevor commented on #695
Does it really need so many authenticator window opened at the same time? I'm talking about DOZENS depending on how many times AP changes the channel.
Is there any debug option to track the reason of the crashes?

[2019-02-27 07:01] lgf01010 opened #696 "have two wifi"
hi，When I successfully configure it sequentially, there are two wireless APS with the same name, one needs a password and the other does not need a password.
![image](https://user-images.githubusercontent.com/41816999/53471719-91fd8480-3aa0-11e9-860e-7c24112812fe.png)

[2019-02-27 22:22] strasharo commented on #696
![image](https://user-images.githubusercontent.com/3337997/53527160-dfa0de00-3aee-11e9-8b27-f3505a2d1807.png)

[2019-02-27 22:22] #696 closed

[2019-03-01 08:20] jeegarjani opened #697 "Suggestion to Bypass HSTS!!"
Can u automate ssl2strip, dns2proxy or evilginx in the update so it can bypass HSTS warning while trying connection request in fake dns. I am not a coder but understand where the problem lies...See if u can work out...

[2019-03-01 09:08] NavjotSinghMinhas commented on #551
i tried both http://192.168.254.1 and captive.gateway.lam on both client and host, loads indefinitely.

As mentioned by @nicolas4d i tried adding nameserver 192.168.254.1 in /etc/resolv.conf
But still the same.

May be **open** the issue again and sorry for not responding earlier as i removed kali at that time.

[2019-03-01 10:35] rad4day commented on #697
You can't bypass HSTS this way. The browser already knows that the site should be served via HTTPS only at the point it shows this warning. This would only help with sites not using hsts and sites the user visits for the first time.

If you want more information about how HSTS works I'd suggest reading the [RFC 6797](https://tools.ietf.org/html/rfc6797)

[2019-03-01 10:46] jeegarjani commented on #697
Then for request sending in Fake dns instead of connection request to
Google.com or WhatsApp or other such which use HSTS we can manipulate the
script to request connection for tempmail.com and other such sites which
doesn't use HSTS so the question of warning message doesn't arrive.

On Fri, 1 Mar 2019, 4:05 pm rad4day, <notifications@github.com> wrote:

[2019-03-01 10:49] jeegarjani commented on #697
Sophorn the developer of wifiphisher had mentioned in one of his comments
there are various tricks like using evilginx along with wifiphisher to
bypass HSTS similarly if we integrate same automation within the tool it
can work..is what I think..

There is wifi pumpkin tool also which bypasses HSTS sites.

On Fri, 1 Mar 2019, 4:15 pm Jeegar jani, <jeegarjani@gmail.com> wrote:

[2019-03-01 10:53] jeegarjani commented on #697
Sslstrip 2 and dns2proxy usage

https://youtu.be/9RPCSVcCv1w

On Fri, 1 Mar 2019, 4:19 pm Jeegar jani, <jeegarjani@gmail.com> wrote:

[2019-03-01 14:11] nicolas4d commented on #551
@NavjotSinghMinhas can you post the "/etc/resolv.conf" contents after you created the rogue ap with fluxion?

[2019-03-01 15:01] NavjotSinghMinhas commented on #551
I selected no SSL, Disconnected emulation and TP-Link landing page (ID: 64 in options)

Also https calls were not routing to captive portal, may be i think it is because of no SSL selected.

![screenshot from 2019-03-01 14-50-48](https://user-images.githubusercontent.com/8942810/53645954-e878d900-3bee-11e9-9b11-bb5ab415e1c8.png)

[2019-03-01 15:27] nicolas4d commented on #551
@NavjotSinghMinhas try SSL brother！ and tell me what happend! please

[2019-03-01 16:02] zen909 opened #698 "Fluxion scanner problem"
My fluxion scanner is not showing any AP. Very much new to this. Can anyone help?

[2019-03-01 16:02] NavjotSinghMinhas commented on #551
Hi @nicolas4d It works with SSL, BUT hold on....

1. All HTTPS calls resulted certificate error (I knew it would happen, that's why always selected no ssl)
2. HTTP requests works and routes to captive gateway. (BUT after opening 2-3 times, it wasn't loading OR was loading VERY VERY slow)

[2019-03-01 16:23] nicolas4d commented on #551
@NavjotSinghMinhas hi! bro.
1. this is ok
2. It's fast in host Browser(like firefox or chrome) to me. but very very very slow with client(like Iphone or Android) that connect through rogou AP.

do you have any clue for this reason?
and help us @deltaxflux @MPX4132 . Please! Please! Please! Please!

[2019-03-01 16:31] NavjotSinghMinhas commented on #551
yup, totally agree with you brother.

[2019-03-01 16:43] nicolas4d opened #699 "please reopen issue 551, and help me that issue."
please reopen issue 551, and help me the issue.

[2019-03-01 21:20] #697 closed

[2019-03-01 21:21] strasharo commented on #699
Anything else?

[2019-03-01 21:21] #699 closed

[2019-03-01 21:22] strasharo commented on #698
Let me throw some beans on that.

[2019-03-01 21:22] #698 closed

[2019-03-02 13:07] nicolas4d commented on #551
they don't reopen  this Issue, why? @NavjotSinghMinhas bro!

[2019-03-02 13:28] NavjotSinghMinhas commented on #551
may be busy, or are not getting notifications from a closed ticket.

You can create a new issue and redirect to this one, so they can reach here :)

[2019-03-02 15:50] rad4day commented on #551
Sorry to leave you waiting.
We are in fact getting notifications. It's just that most of us are pretty busy. Also this project is for most of us not really our top priority project anymore. Therefore it's not that likely that we'll fix much stuff in the next few weeks / months.

Server not found sounds like either the webserver is not running at all or the firewall is misconfigured.

If any of you

[2019-03-02 19:27] strasharo commented on #591
Works fine here, I'm controlling the RPI Zero via it's wireless interface while using external interfaces for fluxion and the connection is not lost. You might be running out of memory, so if that's the case you might want to add some extra swap on a file.

[2019-03-02 19:27] #591 closed

[2019-03-02 21:25] NavjotSinghMinhas commented on #551
Not a problem, but what could be the reason for slowness in client when host works fine.

I will look into code and learn it, but i am not familiar with Shell at all, i have worked with python, html and c though. So will not be a problem to learn it if you just give a little heads up about the problem. Thanks :)

[2019-03-03 03:08] nicolas4d commented on #551
I think this is not a code problem, but the envirenment or wifi card! I will buy another wifi card to test it. (laughing...)

"firewall misiconfigured".
I had barely thouched the firewall.
how to configure firewall? @rad4day

[2019-03-03 11:37] doombot19400 commented on #397
I have the same issue with fluxion v5.7

I'll try describing as much as i can.
ISSUE: I had previously used fluxion 0.24 and everything worked fine on my kali linux (2017.1) on a lenovo g580 laptop.
But now **everything works fine until I launch the fake AP,my samsung j7 doesn't show the"SIGN IN TO WIFI"  pop-up** bu i can visit the login page by manually entering the ip address in the browser.

I

[2019-03-03 12:19] Pride100 commented on #545
my issue https://www.youtube.com/watch?v=1u3zBZQs_04

[2019-03-03 12:20] Pride100 opened #700 "bug"
Bug Please fix https://www.youtube.com/watch?v=1u3zBZQs_04
I am using kali linux 2019.1 same as well at 2018.4, and the issue is still the same. I tried to reboot or shutdown my pc it shows
wlanmon0 failed to quit
closing wlanmon0 (1s - ∞)
Wtf!!!
then tons more than that showing while shutting down or reboot
I have no choice but to force it power off by pressing power-button in 5 seconds and that

[2019-03-03 12:30] Pride100 commented on #700
Sorry for my bad English. lol

[2019-03-03 12:51] usama7628674 commented on #545
@Pride100 This tool is outdated use [airgeddon](https://github.com/v1s1t0r1sh3r3/airgeddon)

[2019-03-03 13:28] #700 closed

[2019-03-03 13:33] Pride100 commented on #700
how can i fix it?

On Mar 3, 2019 9:28 PM, "strasharo" <notifications@github.com> wrote:

Closed #700 <https://github.com/FluxionNetwork/fluxion/issues/700>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/FluxionNetwork/fluxion/issues/700#event-2176288176>,
or mute
the thread
<https://github.com/notifications/unsubscri

[2019-03-03 15:41] Pride100 commented on #545
Why? Is fluxion not usable anymore? Is there any update coming up? And when?
Can i get the downgraded fluxion v.4.15 i think its more compatible than the latest. I have used fluxion v4 before and i experienced no problem. P.s I need Fluxion v4 not fluxion v2. Thanks!

[2019-03-03 16:09] Pride100 commented on #700
Is fluxion over? I didn't get any news on fluxion update since aug or
should i say in the past 7 months. After tons of testing right now there
are many bugs than the previous version. P.s can I have fluxion ver. 4.15?
Because I experienced fluxion ver4 with no problem.
Also what happen to the developers to this program? It's been so long
without any update. Yeah I have seen only one update the "RE

[2019-03-04 00:06] Dontmindmes opened #701 "Display router Make"
Is it possible for you to add an option that displays the wifi's signal router make and  maybe model? would come inhandy for choosing type of attack page to use

[2019-03-04 12:15] nicolas4d commented on #551
I tested with rt3070. It's still slow.
who can give me a clue?????? please!!!!!!

[2019-03-04 17:50] xxsv3n commented on #679
Thanks @strasharo. This definitely helped fix my problem.

[2019-03-04 17:57] xxsv3n commented on #698
@zen909 You probably want to run: airmon-ng kill check

[2019-03-04 18:04] xxsv3n commented on #687
Devi prima recuperare l'handshake usando "Handshake Snooper". Una volta che hai l'handshake per la rete specifica, il tuo errore dovrebbe scomparire.

[2019-03-04 18:08] S3cur3Th1sSh1t opened #702 "Add PMKID Attacks"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary
I think PMKID attacks would be much faster and easier than handshake capturing.
https://hashcat.net/forum/thread-7717.html

No need for Clients for the first step. Verification is easy as well.

Greetings

[2019-03-04 18:14] xxsv3n opened #703 "Spelling: Handshake Snopper -> Handshake Snooper"
### Bug Report

#### Summary
Simple spelling error, the word Snooper is misspelled in the English version.

##### What is the current behaviour?

#### How to reproduce

##### If the current behavior is a bug, please provide the steps to reproduce it.

##### What do you think the expected behavior should be?
[2] Handshake **Snooper** Acquires WPA/WPA2 encryption hashes.

##### If this is a feature

[2019-03-04 21:55] #703 closed

[2019-03-05 09:30] johncodesit commented on #491
hi all! im using fluxion 5.7 running on parrot os (using virtual box) .
Im getting a similar problem with fluxion.
After  selecting language, It gives the options between 'captive portal - handshake snooper - back'
when I chose either 1 or 2 I always get the same message:
[*] select a wireless interface for target seraching.
[1] repeat
[2] back

tried reinstalling scapy succesfully but the problem

[2019-03-05 12:43] nicolas4d commented on #551
webserver in not running at all. @rad4day
I checked lighttpd server status is inactive.
I try to manully start lighttpd, but always failed. how can I fix this? @rad4day

[2019-03-05 14:45] popopoio commented on #620
Hey guys, i think i know what’s wrong with it. I’m just using the Realtek 3070L to try finally its working!! Before i was used 8187L for thousand times but it alwasys failure. I dont know but you guys can try with 3070L~

[2019-03-05 15:01] Pride100 commented on #551
Yeah!!!  You guys are right!!  Same problem here!!! Busy my ass 8 months ago!!!
Soooo many problems with fluxion program and Developers!!!

Please gave me a link fluxion v4.10. Its more stable than v5 up.
Watch this so that u can see the problem.

https://youtu.be/48fr3BjMUCU

Also you guys make a video so that they can see how big is the issue is.

[2019-03-05 15:02] Pride100 commented on #551
Ive been trying to contact u guys on gmail and no resoponds!

[2019-03-05 15:15] Pride100 opened #704 "Problems with the developers of this program!!! Ps. Don't delete it."
Here is my problem!
https://youtu.be/48fr3BjMUCU
Hope u fix it as soon as possible.

Predicted to say - YOU are ALL busy right now as ALWAYS! and ALWAYS BE TO SAY.

Correct me if I am wrong.

[2019-03-05 15:18] Pride100 commented on #704
Also wa

[2019-03-05 15:18] #704 closed

[2019-03-05 15:20] Pride100 commented on #704
Also watch it on HD cause predicted u will ignore it because of the bad camera.

[2019-03-05 15:22] NavjotSinghMinhas commented on #551
@Pride100 looks like your DHCP is not working at all, but mine works though.

Request you to make a video from start to end i.e video where you run the "sudo ./fluxion.sh" to the hotspot connect.

Thanks

[2019-03-05 15:57] Pride100 commented on #551
Sure!!! Why not!!!
have a look
https://youtu.be/WEFLkQM8pGg
Ill be waiting 4 ur answer

On Mar 5, 2019 11:23 PM, "Navjot Singh Minhas" <notifications@github.com>
wrote:

@Pride100 <https://github.com/Pride100> looks like your DHCP is not working
at all, but mine works though.

Request you to make a video from start to end i.e video where you run the
"sudo ./fluxion.sh" to the hotspot connect.

Tha

[2019-03-05 16:08] Pride100 commented on #704
Here is the video in my pc to be clear https://youtu.be/WEFLkQM8pGg
Whopse also,
Predicted to say - YOU are ALL busy right now as ALWAYS! and ALWAYS BE TO SAY.

[2019-03-05 16:15] NavjotSinghMinhas commented on #551
Ok, have you tried with Atheros instead of Realtek?

[2019-03-05 16:29] Pride100 commented on #551
I tried it so many many times and even worse it will stuck on last captive
portal, the one in chosing fake ap dns server and I choose one of any
English portal's then theres something 1 coding maybe starting captive
portal perhaps and it will stuck in there. No X-term tabs showing up. And
connot be cancelled.

On Mar 6, 2019 12:17 AM, "Navjot Singh Minhas" <notifications@github.com>
wrote:

Ok, ha